[2016-09-08 00:49] thenaterhood opened #5 "Handle telegram bot rate limiting"
Telegram bots are rate limited:

* Less than 1 message per second
* No more than 20 messages per minute

When bridging IRC, this clearly becomes a problem in particularly active chats. The bot needs to understand the rate limits and batch messages in order to avoid hitting the limits. Ideally, this will make use of an intelligent algorithm which will do a batch-and-wait for large volumes of messag

[2016-09-10 03:53] thenaterhood commented on #5
See #7

[2016-10-19 10:54] jflory7 commented on #5
Closed by #7.

[2016-10-19 10:54] #5 closed

[2016-10-20 22:18] bmamlin opened #12 "Bot fails to post to Telegram"
I was creating a Docker image from this repo and it failed to post to Telegram. Debugging `teleirc.js` revealed a couple places where `chatId` was mistyped as `chatID`. A pull request is on its way!

[2016-10-21 00:04] thenaterhood commented on #12
Resolved by #13.

[2016-10-21 00:04] #12 closed

[2016-10-23 02:02] thenaterhood opened #15 "teleirc does not "crash" if it encounters a fatal error"
teleirc does not crash and return an exit code if it encounters an unrecoverable error. Rather, it fails and hangs without exiting.

[2016-10-23 12:29] jflory7 commented on #15
Is this something we want to target for the 1.1.0 release?

[2016-10-24 01:56] thenaterhood commented on #15
Huh, thought I emailed in a reply to this but I guess it didn't make it.

Anyways, no, I don't think so. This isn't a new bug and I don't think it's any sort of showstopper. The only implication of it is if you're using a process manager (e.g. systemd) then it can't tell when the bot has crashed to restart it.

[2016-10-25 18:20] thenaterhood commented on #15
Nah. I wouldn't say this is a deal breaker for us, and it isn't new.

The implication of this is that some things like systemd can't tell if the
bot needs to be restarted due to a crash. Putting out a patch later once we
track this down should be fine.

On Sun, Oct 23, 2016, 08:30 Justin W. Flory <notifications@github.com>
wrote:

[2016-10-27 17:12] jwflory opened #19 "Add bold formatting to usernames in message strings on both Telegram and IRC"
# Summary

When using the bridge bot, it would be helpful if usernames were marked up with bold text, to help separate them from the message body on IRC and Telegram.
# Analysis

In #8, there was a lot of discussion about how this should be implemented, especially in terms of using pre-existing libraries for markdown. Before completing or coming up with a solution to close this issue, please read

[2016-11-07 08:19] robbyoconnor opened #24 "Docker containers should not operate as root!"
Docker containers should whenever possible become a non-privileged user. The root user in the containers has access to **_EVERYTHING_**.  Let me reiterate, root in container means root in the main system.

I plan on fixing this but wanted an issue attached to this.

[2016-11-09 21:54] #24 closed

[2016-11-15 07:12] Rat-S opened #30 "[deleted]"
[deleted]

[2016-11-15 08:55] #30 closed

[2016-11-15 13:40] Serubin commented on #30
Definitely make a pull request to add yourself into the readme. If you don't know how you can join us in our telegram group and we can teach you how!

[2016-11-15 14:51] jflory7 commented on #30
Curious, do you still want this information added to the project or was
there another reason the issue was wiped?

On 11/15/2016 02:12 AM, deadrat wrote:

--
Cheers,
Justin W. Flory
jflory7@gmail.com

[2016-12-01 18:40] i5o opened #31 "Leave/join usernames are sent to the wrong channel"
When using teleirc for two channels with

if someone leaves channel1 in IRC, it would message channel1 mirror in Telegram, but also channel2 mirror in Telegram;
Steps to reproduce:
Config your bot to be in two channels
-> #sugar
-> #poxip

Supposing that you are in #sugar , leave in #sugar
expected: teleirc to send a message to #sugar mirror in Telegram
result:
#sugar mirror in telegram the messag

[2016-12-13 19:33] KevinMGranger opened #32 "One should be able to PM people through the bridge"

[2016-12-13 19:33] KevinMGranger opened #33 "One should be able to see files / images shared from telegram"

[2016-12-13 19:34] jflory7 commented on #32
Not sure on this one. @repkam09 or @thenaterhood, do either of you know of something that would make this possible within the Telegram API? The only way I could think of it is by having a Telegram IRC bot for every member of the channel… which could be troublesome. Any thoughts?

[2016-12-13 19:35] jflory7 commented on #33
I believe this is possible. I remember @repkam09 mentioned the possibility of doing it, but the files "expire" after some time, unless we were to upload them to another site or service, like Imgur for images.

[2016-12-13 19:37] jflory7 commented on #31
Hey @i5o, looking at this deeper, I think you are using another project with the same name (this [teleirc](https://github.com/FruitieX/teleirc)). Since it seems like it's for a different project, I'm going to close this issue. Sorry for the confusion here.

[2016-12-13 19:37] #31 closed

[2016-12-13 19:38] jflory7 commented on #19
@repkam09 or @thenaterhood, I know we had a PR that was almost there for this, but do you think it's something we might be able to implement ourselves? This would be a nice feature to make it more clear that the teleirc bot has multiple users behind (e.g. people who reply to messages pinging `teleirc`).

[2016-12-14 14:25] repkam09 commented on #32
Oh man. This would be really hard I suspect. I'll think about it a bit.

[2016-12-14 16:35] repkam09 commented on #33
I wrote up a quick version of this which posts the link directly to the Telegram (temporary, 1 hour) version of the file. Having it upload somewhere more permanent would be good, but I'm not sure where that would be.

If you have a simple file repository on the RITLug servers that can be hit from our service here, maybe. I have done upload scripts using node and restify for my own personal project

[2016-12-14 16:38] repkam09 commented on #19
Is this on the IRC side or the Telegram side, or both? How do you force bold characters in the terminal side? If its as easy as sticking a *name* in there, or an escape character maybe it could be done earily.

On the Telegram side, there is a formatted text mode that a bot can use instead of just plain text. I looked up how to do it last time this issue was suggested. I would have to read up agai

[2017-01-14 21:29] abkahrs commented on #19
@repkam09 @jflory7 for bolding on the irc side when a message comes through from telegram it should work to put the username string through the bold() method before the full message is assembled and sent through to irc. Not sure going the other way.

[2017-02-14 03:16] robbyoconnor commented on #33
TeleIRC (the other one) spins up a web server and hosts it on the server...

[2017-02-14 03:17] robbyoconnor commented on #32
How would this even work?

[2017-05-29 10:46] mestaritonttu commented on #33
Why not join forces with the other teleirc? Is there some fundamental technological disagreement preventing such a merger?

[2017-05-29 20:29] jflory7 commented on #33
@mestaritonttu It was mostly that we created this project for our own community, then it ended up becoming a little bit popular, and we kept maintaining it. There's no disagreement, but more that we're just maintaining what we created and probably don't have the time to actively contribute to many more projects.

[2017-10-02 23:52] xforever1313 commented on #33
Created this pull https://github.com/RITlug/teleirc/pull/38 to get Telegram's URL to the uploaded photo.  Right now, it just posts the URL to the IRC channel, but as Mark said, that URL only lasts an hour.  But, we need to get the URL before we can do a more persistent solution.

[2017-10-03 15:52] jflory7 commented on #33
@xforever1313 Amazing! This is still a lot of progress. We could potentially try to link to an API for a site like Imgur to upload the photos and post that link instead. Will try to review the PR soon!

[2017-10-06 15:31] Chris-Bitler commented on #33
The Imgur API for uploading images supports passing it a URL, so perhaps it could be passed the telegram URL? https://apidocs.imgur.com/#4b8da0b3-3e73-13f0-d60b-2ff715e8394f

[2017-10-06 17:09] ImTheDeveloper commented on #32
I have a view on how this could work.\

To pm from telegram down to IRC:
1.  User either knows the nick of the person they want to PM or utilises /names command on telegram to be printed a list of usernames.
2. User messages the bot in private utilising the nick of the person on irc they wish to pm. This could be done using a command /private nick message or by using @nick message. You could techn

[2017-10-06 17:10] ImTheDeveloper commented on #19
You can use markdown to use bold when sending messages in bold over telegram. I believe using *** works

[2017-10-06 19:05] jflory7 commented on #19
@ImTheDeveloper If you'd like to submit a PR for this, that would be awesome, if it's something simple! You'd probably be faster to implement it than me, anyways. Unless @repkam09 or @xforever1313 wanted to take a crack at this.

[2017-10-06 21:07] robbyoconnor commented on #32
This seems kinda silly...unless this happens in a PM with the irc bot...

[2017-10-07 02:43] ImTheDeveloper commented on #32
What bit is silly.. I believe it says in on with the bot. However there is a limitation in the bot API if you want a clean irc to tg pm to someone that hadn't initiated a chat on tg with the bot before. Privacy rules trump all

[2017-10-07 04:15] robbyoconnor commented on #32
The whole idea of being able to do that...I don't think it's a good idea.

On 10/06/2017 10:43 PM, Chris wrote:

[2017-10-07 15:48] ct-martin commented on #32
@robbyoconnor One idea may be to ping someone on the other side to say they have a PM on the other. To get around the bot rule you could make them turn it on. Would be useful to do instead of saying in public chat for those of us on TG side only.

[2017-10-08 08:24] robbyoconnor commented on #32
Too much overhead to be worth it.

[2017-10-08 17:29] Chris-Bitler commented on #33
Just an update on this: I am working on implementing uploading images to imgur, but they have some bug with their API application registration that caused it to auto redirect away from the page; I was told by their support that this will be fixed on monday.

[2017-10-08 17:29] Chris-Bitler commented on #33
I'm not sure how commenting did that.

[2017-10-11 18:52] Chris-Bitler opened #41 "Sending an image with a caption in telegram then editing the caption causes the image to get sent again"
If you edit the caption on an image on telegram it will re-upload the image and send it to the irc chat again after the caption is edited:
![image](https://user-images.githubusercontent.com/11822578/31460252-c07a3a78-ae93-11e7-870a-83cb57699a19.png)
![image](https://user-images.githubusercontent.com/11822578/31460263-cd14302c-ae93-11e7-8839-ee051c93549c.png)

[2017-10-11 20:23] Chris-Bitler commented on #41
@jflory7 @robbyoconnor Is this intended or something we should fix? It might make more sense to send a message saying that the title was updated without reuploading the image.

[2017-10-11 20:50] robbyoconnor commented on #41
shrug

On Oct 11, 2017 4:23 PM, "Chris Bitler" <notifications@github.com> wrote:

[2017-10-12 04:14] jflory7 commented on #41
@Chris-Bitler: This behavior comes from the functionality either @thenaterhood or @repkam09 added for edited messages. Normally for a message, if it's edited, a new copy is sent as a new line to IRC. The edited message functionality is just resending the message, which in this case, is a copy of the image.

I'm more curious if we can retrieve the subtitle / caption and insert that for an image. If

[2017-10-12 05:16] robbyoconnor commented on #41
I won't have time to look at this.  I kind of want to rewrite this...

On Oct 12, 2017 12:14 AM, "Justin W. Flory" <notifications@github.com>
wrote:

[2017-10-12 11:03] Chris-Bitler commented on #41
@jflory7 It is possible to get the caption and it actually already does, that's why it resends the image. Look at the title above the image in irc in the single quotes ('). It was @ dan first, then I edited it to be @ schneidy, which updated the title on the image. Also, in this case it's not just resending the image, it is completely re-uploading it to imgur (which means it's going through the en

[2017-11-14 16:34] dennisroczek commented on #19
please also add that the IRC comment

gets "highlighted" in another color or so. ;-) at least recognizable in telegram

[2018-01-18 16:01] tagezi opened #43 "To add the Russian community of LibreOffice"
I would like to know if you can help with the organization of communication between telegrams and irc.
We have two channels #libreoffice-ru on the freenode and libreofficeru in the telegrams. But we do not have a server to install the teleirc.
I know that you help community LibreOffice with some channals.
Is it possible for Russian part?
Thank you in advance.

[2018-02-16 02:13] jflory7 commented on #43
@tagezi Hi! The Document Foundation has a hosted server for Teleirc and can probably help you. Could you email guilhem@libreoffice.org and jwf@fedoraproject.org with your request? Thanks!

[2018-02-16 02:13] #43 closed

[2018-03-14 16:38] jwflory opened #44 "Add Telegram-side highlighting for IRC messages prefixed with username"
Users on IRC will use another user's nick to highlight their attention. This notification behavior is not translated over to Telegram, which receives them as plain text. For users on IRC-side, it can be confusing if they have notified someone or not.

**Add a pre-processing hook for IRC-to-Telegram messages that scan the beginning of the message string for a single "word" prefixed by a `:`. If thi

[2018-03-14 16:42] jflory7 commented on #33
Oops, this issue is stale. @xforever1313 extracted the image via the Telegram API in #38 and @Chris-Bitler implemented support to upload pictures in Imgur in #39.

Thank you @xforever1313 and @Chris-Bitler! Closing as complete. :clapper:

[2018-03-14 16:42] #33 closed

[2018-03-14 16:43] jflory7 commented on #19
If working on editing the message strings between the bridge, it might be helpful to also take a look at #44. It could be possible to do both of these in one go.

[2018-03-14 16:48] jflory7 commented on #41
Looking back on this, is there a way to distinguish regular messages versus edit messages? If we can fistinguish messages that are edits, I think we can figure out a way to extract only a caption from an edit message.

If not, I think we should close issue out as `wontfix`, since I think this will be intended behavior (however inconvenient).

[2018-03-14 17:11] Chris-Bitler commented on #44
I'm not sure prefixing (or suffixing might be what you mean here, since prefixing it would result in something like :jwf [text] as opposed to jwf: [text].) explicitly using a : is the best idea. Most IRC clients allow configuration of what the character after a tab-name-selection will be, or in some cases there is none by default (as is the case with the IRC client I use). Is there potentially a m

[2018-03-15 14:57] ritlug-root opened #47 "Test ticket from Code Climate"

[2018-03-15 14:57] #47 closed

[2018-03-15 14:59] jflory7 commented on #44
@Chris-Bitler For clarity, I meant prefixing like the following example:

An IRC user types this message:

`jflory: Hey there!`

In Telegram, the message becomes:

`@jflory: Hey there!`

It is possible that an IRC user doesn't use a colon, but I think it's the best default to assume. I see this used most often. I'm not sure of a better way to approach it though. What do you think?

[2018-03-15 15:00] ritlug-root opened #48 "Fix "file_lines" issue in lib/TeleIrc.js"
File `TeleIrc.js` has 308 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/RITlug/teleirc/lib/TeleIrc.js#issue_5aaa8799e65aaa0001000027

[2018-03-15 15:01] ritlug-root opened #49 "Fix "similar-code" issue in lib/TeleIrc.js"
Similar blocks of code found in 4 locations. Consider refactoring.

https://codeclimate.com/github/RITlug/teleirc/lib/TeleIrc.js#issue_5aaa879fe65aaa0001000036

[2018-03-27 09:53] bexelbie commented on #44
I think relying on a particular prefix character or line placement is going to miss some (a lot) of names.  Could the bot know the names of the people in the channel from the membership list and just do a replacement for all of those names in the string?  So if it see that @jflory is in the room, it turns:

"Hey jflory are you going to make the meeting tonight"
into
"Hey @jflory are you going to m

[2018-04-30 08:56] bexelbie opened #51 "Include limited characters from Telegram replies in relayed IRC message"
The teleboto bot in #fedora-zh does to interesting things.  Notice this exchange from the IRC side:

<teleboto> [alick9188] @bexelbie You're living in China?
<teleboto> [bexelbie] 「Re alick9188: @bexelbi...」Nope. I’ll be in Beijing for LC3 though.

First, the name from telegram is in square brackets, making it more obvious it is passed through.

Second, it quotes part of the replied to message to

[2018-04-30 13:12] jflory7 commented on #51
I see this issue as a UI/UX enhancement for two things:

1. Place Telegram usernames between square brackets (which I forgot, we actually can do already – there are [config values](https://github.com/RITlug/teleirc/blob/devel/.env.example#L13) for username prefix/suffix)
2. Quote a number of characters for messages from a replied message on Telegram and relay it over it IRC

I will update this acc

[2018-04-30 23:28] xforever1313 commented on #51
...I swear we had a way in teleirc to determine if a message from telegram was a reply or not...  Did I dream that 0_o?  That would be step one.

Step two would be getting the message that was replied to.  Its been a while since I looked at the Telegram Bot API... but I would assume it would include either the replied message as a string, a message object, or an ID on a message object.  If its a s

[2018-04-30 23:34] robbyoconnor commented on #51
I have no opinions

[2018-05-13 23:35] alick opened #52 "Please bridge tg:@fedorazh <-> irc:#fedora-zh"
-    Organization / group name and website: FZUG, i.e. Fedora Chinese community. [website](https://zh.fedoracommunity.org/)
-    Telegram group URL: https://t.me/fedorazh
-    Your IRC channel: #feodra-zh

[2018-05-14 15:12] michalrud opened #53 "multi-line messages should have each lined prefixed with the userid"
Currently, when a message with newlines is posted to Telegram, it will be automatically splitted by the bot (well, technically by the underlying irc client library), so when `user1` posts a message like this to Telegram (notice the newline):

[code]

teleirc will post following messages to the IRC channel:

[code]

Therefore, misleading other IRC users into thinking that `user2` admitted his/her o

[2018-05-24 11:41] mxa opened #54 "Add user to https://teleirc.readthedocs.io/en/latest/who-uses-teleirc.html"
Pure Data / https://puredata.info
  https://t.me/puredata
  #dataflow on freenode

[2018-05-24 11:43] mxa commented on #52
I don't think this is a bridging service. It's a software **you can run on your server** that is doing the bridging.

[2018-05-28 19:28] jflory7 commented on #52
@alick If you would like a new Telegram <=> IRC bridge for a Fedora community, please [file a Fedora Infrastructure ticket](https://pagure.io/fedora-infrastructure/) and tag me there. I can help you set one up inside of Fedora's infrastructure.

[2018-06-02 21:52] jflory7 commented on #54
@mxa Hey, thanks for opening this issue! I'm adding it to our docs page now.

[2018-06-02 21:58] #54 closed

[2018-06-02 22:01] jflory7 commented on #53
Thanks for reporting this, @michalrud. I see you have some work in your local branch for this feature. Let us know if you need any help testing the changes out – we have the Teleirc testing group to help us with this purpose. :slightly_smiling_face:

[2018-06-03 12:53] michalrud commented on #53
Testing is the exact thing that's left to be done - I've written some unit tests and in sterile environment of UT it seems to work fine, but it would be great if you can take the code and check it in the testing group :)

[2018-06-06 11:52] mxa opened #56 "Multiline Telegram messages should go on pastebin"
IRC users get annoyed when one Telegram user posts a codeblock or just a multiline message.
It should be configurable that `preformatted multilined text` and any other text with >=x carriage returns/newlines automatically are turned into a pastebin to be linked to in the IRC.

see also: https://github.com/FruitieX/teleirc/issues/249

[2018-06-06 20:37] jflory7 commented on #48
This issues are handy, but not very useful. We can always check these kinds of things from the [CodeClimate dashboard](https://codeclimate.com/github/RITlug/teleirc/issues) for this project. I'm going to close this issue for now.

[2018-06-06 20:37] #48 closed

[2018-06-06 20:37] jflory7 commented on #49
This issues are handy, but not very useful. We can always check these kinds of things from the [CodeClimate dashboard](https://codeclimate.com/github/RITlug/teleirc/issues) for this project. I'm going to close this issue for now.

[2018-06-06 20:37] #49 closed

[2018-07-18 14:29] Dhanesh95 opened #59 "Community using teleirc"
Organization: Hamara Linux
Website: https://hamaralinux.org
Telegram group URL: https://t.me/hamaraLinux
IRC Channel: #hamara on irc.oftc.net

[2018-07-18 14:33] jwflory commented on #59
Thanks @Dhanesh95, I will work on doing this in the next week or so.

If you have some time, feel free to submit a PR too and add it into [this page](https://github.com/RITlug/teleirc/blob/devel/docs/who-uses-teleirc.rst) in the docs. The list is sorted alphabetically. :slightly_smiling_face:

[2018-07-19 04:49] Dhanesh95 commented on #59
On Wednesday 18 July 2018 08:03 PM, Justin W. Flory wrote:

Sure! I'll be glad to send a PR. Will send one by the end of the week.

[2018-07-19 05:42] Dhanesh95 opened #60 "docker-compose with Node Alpine Linux fails"
### The Error:

[code]

### Expected behaviour

The container builds successfully and teleirc is spawned.

### Host machine details

OS: Ubuntu/Xenial
Docker: Installed the docker-io package from the Ubuntu Xenial repo

[2018-07-29 15:30] #59 closed

[2018-07-29 15:34] jwflory commented on #60
@Dhanesh95 I assume you are using the [Alpine Node](https://github.com/RITlug/teleirc/blob/devel/containers/Dockerfile.alpine) image for this. Somehow it's trying to find a Python binary, but I don't know why this is. I wonder if it is because of the Sphinx docs, and somehow it thinks it needs Python (but really doesn't, because the Docker image isn't serving the docs).

@robbyoconnor Any ideas he

[2018-07-29 16:46] Dhanesh95 commented on #60
On Sunday 29 July 2018 09:04 PM, Justin W. Flory wrote:
@Dhanesh95

No. This isn't blocking me from using teleirc. I followed the
traditional method of installing the packages using npm and running the
bridge using pm2. Take your time to fix this issue.

[2018-07-29 22:06] robbyoconnor commented on #60
Oh christ -- hold on -- I'll fix this now.

[2018-07-29 22:55] robbyoconnor commented on #60
Fixed in #63

[2018-08-05 23:07] robbyoconnor opened #64 "Bring CodeClimate grade up to an A"
This is **REALLY** great for beginners looking to get their feet wet who knows Node.js well and has good code design instincts.

Currently [we are at a D](https://codeclimate.com/github/RITlug/teleirc) -- let's get it up!

[2018-08-18 02:54] ct-martin opened #66 "Support for registering nicks"
As we discovered in our (RITlug & FOSS@MAGIC) spam mitigation during the recent Freenode spam attacks, having bots with unregistered nicks can get them kicked from a channel. This issue requests support for a registered nick. Most likely this would take the form of:
* config values for the desired nick & NickServ password
* authenticating to NickServ when joining the server
* authenticating to Nic

[2018-08-22 22:50] jwflory commented on #66
Fortunately, @michalrud already took care of this in #65. I'll try to review this during the week.

[2018-09-06 08:02] umlaeute opened #67 "spurious disconnect"
this morning my teleirc bridge suddenly disconnected from the IRC.

the relevant logs from my docker-container running teleirc are:
[code]

the container is configured to restart on exit. however it seems that these "unhandled errors" are not fatal, but the bridge never attempts to recover from them, thus keeping the bridge in disconnected state.

(sidenote: i have no clue what happened on the tel

[2018-09-06 08:05] umlaeute commented on #67
also, the `Unhandled rejection TimeoutError: operation timed out` is happening regularily (about 23 times in the last 36 hours), and usually nothing happens (at least on the IRC side). therefore i don't know how alarming this error should be.

also: the telegram group is not exactly very busy, so i don't know whether messages were lost.

[2018-10-07 03:01] thenaterhood opened #73 "Add code convention recommendations"
We should consider adding a code style guide so teleirc code is consistent. This makes approaching things in the project easier because there's consistent code format throughout. This also would make it possible to add linting.

I'd recommend this one as it's relatively commonly used, but there are other options as well. https://github.com/airbnb/javascript

[2018-10-09 20:28] X3MBoy opened #75 "Adding Fedora Marketing as user of Teleirc"
In the Fedora Project, the Fedora Marketing team is using TeleIRC.

- Fedora Marketing
- https://t.me/fedoramktg
- #fedora-mktg

[2018-10-09 21:38] jwflory commented on #75
@X3MBoy Thanks. I'll work on getting this done when I review the other open PRs.

[2018-10-10 06:50] michalrud opened #76 "Test cases regarding NickServ identification"
There are some test cases that would be nice to write for #65 , unfortunately I don't have time to do so in a timely manner :(

1. Test checking that joining the channel doesn't happen before nickserv answers
2. Test checking that receiving a message from anyone else than nickserv doesn't trigger joining the channel
3. Consider parsing NickServ messages to understand if we're really identified

If

[2018-10-12 20:53] jwflory opened #77 "Create doc page on development environment"
Need better developer docs for new contributors. Working with @icflournoy @zedjones and noticed the docs aren't clear in this way.

[2018-10-12 21:16] #15 closed

[2018-10-12 21:21] jwflory commented on #67
@umlaeute Thanks for reporting this and thank you for being patient for a reply. @thenaterhood submitted PR #74 which should fix this (since the bot now triggers a hard crash on failure). I'm going to close this as resolved. :clapper:

Please try testing the bot with the `master` branch and let us know if you are still experiencing this issue. We'll work on cutting a new release in the next month.

[2018-10-12 21:21] #67 closed

[2018-10-13 21:48] umlaeute commented on #67
a hard crash sounds great (as it is something, the caller can react on).
i'll try to test in the next few days and report back.

[2018-10-14 02:06] jwflory commented on #67
@umlaeute Thanks! Feel free to reopen this issue if you still notice the issue.

[2018-10-14 02:29] jwflory commented on #66
#65 was recently merged, thanks to the help of @michalrud. There are some unit tests remaining to be rewritten (#76), but this functionality is now supported. I'm closing this as completed. :clapper:

[2018-10-14 02:29] #66 closed

[2018-10-14 17:15] icflournoy opened #78 "A member leaving the Telegram group causes unhandled promise rejection"
### Summary
When a member of a Telegram group leaves the group teleirc tries to evaluate https://github.com/RITlug/teleirc/blob/e81ff0bdb23de46559ba985c02aa5677d3b36bd0/lib/TeleIrc.js#L333 resulting in the following trace being thrown:
[code]
I have tested using both the default configuration and a custom configuration.
**default**
[code]

**all-enabled**
[code]

It's an easy fix I can open a PR f

[2018-10-15 00:15] #75 closed

[2018-10-15 17:45] ponkyh opened #81 "Bot should check API responsiveness upon startup"
Had an issue when bot started just fine and joined the IRC channel but nothing got redirected from IRC to TG or vice versa. No errors. Tried to curl the api but got "curl: (35) Unknown SSL protocol error in connection to api.telegram.org:443", curling from the same host with --interface "different ip" worked, so I'd guess it's a some kind of rate limit/blacklist on Telegrams end.

Maybe the bot co

[2018-10-23 01:44] thenaterhood commented on #78
@xforever1313 did you happen to hit this in #80 ?

[2018-10-25 00:07] xforever1313 commented on #78
@thenaterhood - I think so, when its merged we can probably close this as "Overcome By Events".

[2018-10-30 15:20] Tjzabel commented on #64
With commit 8931f1ae, we should slowly see an increase in the CC grade.

CodeClimate is being a little too strict, so we hope to loosen up some of its checks to improve this.

[2018-10-30 17:46] robbyoconnor commented on #64
That's kind of the point. It's supposed to be strict -- it's running a
linter.

On 10/30/18 11:22 AM, Tim Zabel wrote:

[2018-10-30 18:19] Tjzabel commented on #64
I get that it is supposed to be strict, but it seems to be *overly* strict. We're testing out a threshold before CC declares code to be duplicates, which is where a lot of the issues seem to arise.

If this doesn't work we can always revert to what it's been doing.

[2018-11-24 16:21] jwflory opened #85 "Add note to docs when Telegram bot "goes to sleep" and doesn't work"
The other day, in one group, we had issues where a bridge bot was not working. It turns out, the Telegram bots can "go to sleep" if they lie dormant for a long time. I had to remove and re-add the bot to the group, and then it magically started working again.

Maybe this would be a good opportunity to revise the docs for clarity and add a FAQ section.

---

Blocking this on #77 for now.

[2018-11-24 17:45] jwflory opened #86 "Fix Fedora container image"
The Fedora container image fails to start. Need to get it working and running as expected again. Also, upgrade to Fedora 29?

[2018-11-24 17:46] jwflory opened #87 "Fix undefined var: "ReferenceError: imgur is not defined""
This is a bug where the existing code in master branch does not work because of an undefined variable:

[code]

[2018-11-24 17:48] jwflory opened #88 "Support cancellation of promises with node-telegram-bot-api"
Every time the bot runs, this text blurb pops up:

[code]

It would be nice to ensure promises can be canceled, since it seems we're using them actively. I'll try to dig into this one and see if I can find a fix.

[2018-11-24 18:30] jwflory commented on #86
Addressed in #89.

[2018-11-24 19:18] jwflory commented on #87
Addressed in #90.

[2018-11-24 20:05] jwflory commented on #78
I just manually tested this in #90 with @icflournoy's config and confirmed it's working in `#ritlug-teleirc`. I'll update the PR to also close this issue.

[2018-11-24 23:31] #86 closed

[2018-11-25 04:00] #88 closed

[2018-11-26 18:33] Tjzabel opened #93 "Fix Imgur Photo Uploading"
With #87 we've discovered imgur is not properly set up, and so therefore we get an error saying imgur is undefined.

In order to fix this, we need to implement proper Imgur photo uploading from Telegram to IRC.
Here is my suggestion for how we move forward.

## Steps to get Imgur Working
1. Obtain Imgur API key.
2. Either add image uploading to `_UploadImage`, or implement `uploadUrl`.
3. Create t

[2018-11-26 18:35] Tjzabel commented on #93
We may want to figure out a short-term change for #87, whether that be removing unused imgur calls, or commenting out the current unworking Imgur implementation.

[2018-11-26 20:55] Tjzabel commented on #81
@jwflory @thenaterhood I'm assuming since the PR referencing this issue has been merged, that this issue has been fixed?

[2018-11-26 21:35] #78 closed

[2018-11-26 21:35] #87 closed

[2018-11-28 01:51] thenaterhood commented on #81
In theory yeah

[2018-11-28 01:51] #81 closed

[2018-11-28 02:31] jwflory commented on #93
Per discussion with @xforever1313 tonight, easiest way to do this is likely to handle it in constructor of Imgur class and set the environment variable there.

[2018-11-28 03:54] Tjzabel commented on #93
@jwflory yeah we'll need to set the client ID in the env file and then pass it into the Imgur class.

I'm working on the upload function, and should have it by the end of the week unless someone finishes it before me.

[2018-11-28 04:03] jwflory commented on #93
@Tjzabel Awesome! If you're already working on, I will assign this issue to you. :+1:

[2018-11-28 13:59] jwflory opened #94 "Needs validation: does bot automatically restart when env file is hot-swapped while running?"
Recently, since I started to use Ansible to deploy the bot, I noticed that the bot appears to restart on its own when the `.env` file is replaced while the bot is running. Currently, I restart the bot after reloading the config (and unfortunately, if one updates, I'm restarting all of them :confused: ). But if I don't have to do this anymore… that would be awesome.

We need help from a willing tes

[2018-11-28 18:05] bexelbie opened #95 "multi-line messages should have each lined prefixed with the userid"
This will make the messages easier to understand on the irc side.

[2018-11-28 18:41] Tjzabel commented on #95
@bexelbie I agree! This should be relatively simple to implement.

[2018-11-28 22:45] jwflory commented on #95
Closing as a duplicate of #53. By the looks of it, @michalrud actually took a crack at it already, but I'm not sure if he is still working on it.

I'm going to steal the name of this issue and rename the other one, since I think this issue title is more clear.

[2018-11-28 22:45] #95 closed

[2018-11-28 22:46] jwflory commented on #53
#95 was a duplicate, but I stole the title of that issue to update this one.

[2018-11-29 02:28] jwflory opened #96 "Send Telegram notification when connection to IRC is lost/restored"
# Summary

Send notification from Telegram bot to group when IRC connection is lost and when it is restored

# Background

Sometimes the bot may crash, restart, or otherwise not be connected. In IRC, this is clear because the bot has to join the channel and have proper permissions to speak. In Telegram, there is no indication when the connection is broken. It might be helpful to prevent a [situati

[2018-11-29 03:15] Tjzabel commented on #93
## Update
Imgur standalone implementation is just about complete. This takes in an Imgur API Client ID, and Telegram photo url as parameters, and uploads the file whilst returning the status code.

### Next Steps
1. See what information should be returned from the photo upload
2. Integrate standalone code into teleirc codebase
3. Write unit tests
4. ???
5. Profit!

[2018-11-29 15:53] Tjzabel opened #97 "Teleirc fails to start from master in certain environments"
## Issue

Currently, when running teleirc from CentOS 7, teleirc does not start, citing an unexpected identifier.

In my experience, this usually occurs when `async` is not supported in nodejs. However, `node` is on version `8.x.x`, which should support the async functionality added in the `7.x.x` versions.

We need to figure out why the master branch is failing, and also whether or not this is an

[2018-11-30 02:34] Tjzabel commented on #93
As a further mention, my implementation does not use the nodejs imgur library.

Because the old implementation used this imgur library, I am going to revisit using this. However, I don't want to be bringing in more dependencies than necessary, so I won't be going into extensive testing with the old implementation unless I can get it to work relatively quickly.

[2018-11-30 02:55] Tjzabel commented on #93
### ... I had a confusion
(I've just provisioned my own teleirc test bot to test out these issues)
In my infinite wisdom, I thought the imgur support was broken. After testing in my own environment, I have learned the opposite :smile: The imgur test cases fail, which had further confirmed my initial theory.

## But now everything is all good!
It seems all we need to implement is the imgur client I

[2018-12-01 05:04] Tjzabel commented on #97
## Additional Update
After debugging with @jwflory, it seems this is an issue with CentOS and EPEL, not teleirc.
CentOS's `node` version is `v6.14.3`, which does not support asnyc calls. This makes teleirc fail.

Since we already specify a node version of `~8`, this issue may be able to be closed. I'm leaving this open until our teleirc hack session sunday morning.

[2018-12-02 15:15] jwflory commented on #97
It was a deployment issue. This was resolved after upgrading to Node v10.x LTS. The development bot is working and online again. Thanks for the debugging help @Tjzabel. :+1:

Closing. :clapper:

[2018-12-02 15:15] #97 closed

[2018-12-02 15:29] jwflory opened #98 "Make CI tests more demanding: run with testing config to evaluate successful start-up"
# Summary

Ensure teleirc is able to start and stop successfully when running in the CI environment

# Background

Recently, a breaking change accidentally made it to `master` even though our CI tests passed. It ran our code unit tests, but uncovered code got through and broke the application. Doing a full system start/stop is like a catch-all for anything that is not yet covered, to assert minimu

[2018-12-02 15:32] thenaterhood commented on #98
Integration tests might be what you're looking for here. I'm on board with
that.

On Sun, Dec 2, 2018, 10:29 Justin W. Flory <notifications@github.com> wrote:

[2018-12-02 16:31] jwflory opened #99 "Support Node v10.x LTS"
# Summary

Officially support Node v10.x LTS and integrate support into CI tests

# Background

NodeJS upstream released Node v10.0.0 in [April 2018](https://nodejs.org/en/download/releases/). It's had a few months in the wild and will receive long-term support for a few extra years. It's a good idea to keep up with upstream LTS so we don't fall behind. Only supporting LTS releases is also easier

[2018-12-02 17:32] Tjzabel commented on #93
Imgur photo uploading works.

[2018-12-02 17:32] #93 closed

[2018-12-02 17:45] Tjzabel opened #101 "Fix Imgur Unit Tests"
## Problem
Imgur unit tests fail

## Why?
The `TgImgurPhotoHandler` class is expecting an imgur object in its constructor. Currently, the `mockImgur` object is being passed into this parameter in the tests. This causes an error when running `yarn test` stating:
[code]

## Possible Solution
I believe this is happening because the `mockImgur` object does not `require('imgur')` and so therefore does

[2018-12-02 20:02] xforever1313 commented on #101
Unit tests are supposed to mock out imgur, so require('imgur') is not needed.  If the test is failing it could be because MockImgur doesn't have a function that we need to mock that we need to add.

The URL at ritlug.com _never_ existed.  Because we mock out imgur, it never actually queried ritlug, and never actually uploaded anything to imgur.  The purpose of those unit tests is if imgur were to

[2018-12-02 20:44] Tjzabel commented on #101
@xforever1313 ah, thanks for the overview!
After the update, I had realized Imgur was not required.

There must be some other method that has not yet been overridden.

[2018-12-06 02:16] Tjzabel opened #103 "Add IRC_NICKSERV_SERVICE, IRC_NICKSERV_PASS to readthedocs"
### Issue
The [teleirc readthedocs](https://teleirc.readthedocs.io/en/latest/installation/#configuration) page explains what each of the configurations do in the `env.example` config file. However, there are two examples missing. `IRC_NICKSERV_SERVICE`, and `IRC_NICKSERV_PASS`.

### Solution
We need to describe what these options are used for.

[2018-12-06 03:11] Tjzabel commented on #56
For future reference when this gets worked on, we can use Fedora's Pastebin. They have a well-documented API to work with:

* https://paste.fedoraproject.org/api

[2018-12-06 12:02] jwflory commented on #56
@Tjzabel It is also worth noting that paste.fp.o is ephemeral. Pastes will eventually expire and be deleted. We should consider if this is something we are okay with or if persistent pastes are important. I lean towards wanting persistence.

[2018-12-06 18:54] Tjzabel commented on #56
@jwflory it's worth noting that while paste.fp.o is *generally* ephemeral, there is an option to set no expiry date when uploading through their API.

[2018-12-06 19:00] Tjzabel commented on #99
I agree. It's also worth noting that NodeJS ~8 is reaching the end of its "active" LTS cycle January 1st, 2019, and moving into a "maintenance" cycle.

It would definitely be a good idea to stay up to date with the current, active LTS release.

[2018-12-07 13:54] jwflory commented on #99
@Tjzabel Nice catch. Given the size of our development community, I wonder if it is a good idea to make a hard switch to Node v10.x LTS and for us to "drop" support for v8.x. Or should we try to offer official support for both v8 and v10 LTS?

Given my general inexperience with Node, I'm not sure what the best call is here.

[2018-12-07 14:18] Tjzabel commented on #99
At the very moment, we could easily support both.
Unless we start implementing features only found in Node v10, it would be trivial to support both versions.

It might be a good idea to see what version of Node comes standard with package managers. Even if a hard switch to v10 LTS is fine, I wouldn't want to only support a release that is too recent for apt/yum/dnf to have in their repositories, a

[2018-12-08 22:04] jwflory commented on #99
@Tjzabel Fair. I don't anticipate us using any new features right away. For Fedora, they ship v8 but this could change in Fedora 30 or 31. Not sure about other distributions. We can arbitrarily support this via CI.

To close this issue, I suggest two actions:

1. Update Travis tests to run against v8 + v10
2. Update documentation for officially supported versions

[2018-12-09 00:02] Tjzabel commented on #101
## Update

So, after extensive debugging, I've come to the conclusion that there's nothing really to fix. The only issue I see, is that when calling `getFileLink` from the mockTgBot, it returns undefined when calling the `photoNotInImgur` object because this object does not exist as one of its `files`. I'm not sure this is the desired functionality. I *think* it's supposed to return an undefined e

[2018-12-09 00:40] jwflory commented on #103
@Tjzabel just closed this in #104! :clapper:

[2018-12-09 00:40] #103 closed

[2018-12-12 01:57] Tjzabel commented on #94
@jwflory I can verify after manual testing that the configuration file is loaded **only at startup**.

Therefore, the bot will sadly need to be restarted each time the configuration changes.

[2018-12-12 01:59] Tjzabel commented on #56
With that being said, do we want to have an ENV option to set a length of time for the paste to be active for? Or do we just want this to never expire.

[2018-12-12 13:11] jwflory commented on #94
@Tjzabel Thanks for poking around at this one. I must have noticed a fluke. I'll close this issue as is. :clapper:

[2018-12-12 13:11] #94 closed

[2018-12-12 13:12] jwflory commented on #56
@Tjzabel Oh, actually yes! I like giving this option to the user, maybe with a default value of a 90-day expiration.

[2018-12-12 16:17] Tjzabel commented on #98
@jwflory do you have any more information about what the breaking change was that made it through the pipeline?

[2018-12-12 18:58] jwflory commented on #98
@Tjzabel Method names were changed when the monster file was broken down into smaller classes, but some references to the new method names weren't updated. I haven't had a chance to dig into why tests did not catch this.

[2018-12-13 01:57] #101 closed

[2018-12-28 02:37] xforever1313 commented on #41
A potential approach:

Now that we have the TgHandlers split out, we could add a new function to each of those classes.  At the moment those classes only have the constructor and the RelayMessage function. We could add an additional function called RelayEditedMessage that we can hook into TgEventListener (and by extension, add "edited" events).

We could add new events to TgEventListener called "e

[2018-12-28 22:10] robbyoconnor commented on #64
You can customize things -- Code Climate allows you to make calls on
your own :)
On 12/28/18 3:26 PM, Tim Zabel wrote:

[2019-01-03 21:39] ct-martin commented on #98
Just FYI, I will be trialing doing GitLab CI via the RITlug GitLab instance soon. You're welcome to use or not use it, but wanted to let you know it might be an option.

[2019-01-07 02:52] jwflory opened #112 "Insert zero-width space in Telegram usernames sent to IRC"
_Inspired by 42wim/matterbridge#175._

---

# Summary

Insert zero-width space in Telegram usernames sent to IRC to prevent pinging IRC usernames with the same Telegram nick

# Background

If someone is on both sides of a bridged Telegram group and IRC channel, _and_ has the same username, they will get pinged on IRC whenever they send a message from Telegram. This can be annoying for IRC users wh

[2019-01-07 02:55] jwflory commented on #64
@Tjzabel 30 lines over 25 lines feels like a harmless change. When I write code, I'm more liberal with breaking things across multiple lines anyways for the benefit of readability.

[2019-01-07 03:42] xforever1313 commented on #112
We might want to add a way to disable this if a user doesn't want it.  There is no globally accepted standard for the character encoding according to [Wikipedia](https://en.wikipedia.org/wiki/Internet_Relay_Chat#Character_encoding).  Zero-width space appears to be unicode, but there may be IRC servers out there that only support ASCII.

I can't imagine there are many modern IRC servers out there t

[2019-01-07 04:09] robbyoconnor commented on #64
There are valid reasons for deviating from coding standards...do so with
good reason though.
On 1/6/19 9:55 PM, Justin W. Flory wrote:

[2019-01-09 04:46] alcir opened #113 "Allow user to configure more variables for IRC server connection (e.g. port, SSL certs, etc.)"
# Summary

Allow user to configure more parts of the IRC server connection (e.g. server port, using self-signed TLS certs, etc.)

# Background

IRC servers are a wild world. Everyone can do things a little bit differently or deploy their network in a different way. Most of the current developers run the bot on Freenode, so we haven't thought about other bots as much. However, to make the bot more

[2019-01-09 10:05] alcir commented on #113
I mean the variables you can see in ```node_modules/irc/lib/irc.js```

[2019-01-09 11:14] alcir opened #114 "Community using teleirc"
Organization: l.u.ma.ca. (Linux Users Massa Carrara)
Website: https://www.lumacaonline.org/
Telegram group URL: https://t.me/joinchat/Afu_TAczLfB4dQRKeYQCqg
IRC Channel: #lumaca on irc.autistici.org

Thanks

[2019-01-11 13:44] alcir opened #115 "Image url reveals bot's token"
Imgur is not configured.
Sending an image on Telegram, the API URL appears on IRC.
Such URL contains the token of the bot, that should be keep private.

```'Untitled Image' uploaded by XXXXXX: https://api.telegram.org/file/botXXXXXXXXXXX:XXXXXXXXXXXXXXXXXX/photos/file_1.jpg```

Is this the only way to use the Telegram API?
There is a way to disable images on IRC, if Imgur is not configured?

Thank

[2019-01-12 03:53] xforever1313 commented on #115
My guess is that files are also going to be impacted by this.

I think the best way to do this is add options to disable Photos and Files being sent via URL so we don't expose the bot API token.  These config items should probably be set to false by default, and have a comment with a warning about what happens if they are set to true (maybe even go so far as hiding them so its developers only).  I

[2019-01-28 16:06] Tjzabel commented on #114
@alcir I've created PR #116

Feel free to look over it to make sure all the info is correct, otherwise this will most likely get pulled in by the end of the day.

[2019-01-29 02:18] #114 closed

[2019-02-01 23:23] jwflory opened #117 "Document how to make a development environment"

[2019-02-01 23:24] jwflory opened #118 "Refactor documentation into smaller pages (to make it more readable)"
# Summary

Break up documentation from single, monolithic pages to more modular, bite-sized pages

# Background

We have documentation, but it is not easy to read. It is wordy and sometimes confusing. Our docs should take on small topics and focus on those topics. This also helps our documentation's searchability and makes it easier to navigate (in other words, important information isn't buried).

[2019-02-01 23:28] jwflory opened #119 "Write new documentation about navigating Telegram to find important info"
Talked about this with @Tjzabel. It's hard to find some things, like a group URL. This could also be a chance to get SEO juice because nobody else on the Internet has written good docs for this stuff. :woman_shrugging:

[2019-02-02 20:32] nic-hartley commented on #112
Using square brackets around usernames instead of angle brackets should fix this -- `[]{}|\` are all considered part of the nickname, so `[some-nick]` shouldn't ping someone nick'd `some-nick`.

[2019-02-02 20:41] jwflory commented on #115
@alcir @xforever1313 We suggested handling this issue in two ways.

## Option 1

1. Enabling Imgur support by default (with the generic API key provided by upstream library)
2. Supplementing docs to recommend getting your own API key to replace the default

This way, the Telegram API token is never exposed by accident.

## Option 2

1. Better documenting behavior of not using Telegram (i.e. API to

[2019-02-02 21:43] jwflory commented on #44
_Discussed in 2019-02-02 RITlug developers' meeting. This issue is targeted for the v1.3 milestone, estimated to release on March 2nd, 2019._

---

We agreed with @bexelbie's suggestion of how to handle this. The approach we discussed was on start-up, the bot can collect a list of usernames from the Telegram group. If someone joins or leaves the group while the bot is running, this list would be u

[2019-02-02 21:44] jwflory commented on #115
_Discussed in 2019-02-02 RITlug developers' meeting. This issue is targeted for the v1.3 milestone, estimated to release on March 2nd, 2019._

---

@Tjzabel is looking into this one. If @RITlug/teleirc-developers-commit-access have an opinion on previous options, please weigh in. :slightly_smiling_face: Otherwise, @Tjzabel is researching this more by the next developers' meeting on Saturday, Feb.

[2019-02-02 21:47] jwflory commented on #112
_Discussed in 2019-02-02 RITlug developers' meeting. This issue is targeted for the v1.3 milestone, estimated to release on March 2nd, 2019._

---

@Tjzabel volunteered to take this one on for the v1.3 development sprint. It may happen later in the sprint cycle (after #115?). We'll follow up at the next developers' meeting on Saturday, Feb. 9th.

[2019-02-02 21:55] jwflory commented on #41
_Discussed in 2019-02-02 RITlug developers' meeting. This issue is targeted for the v1.3 milestone, estimated to release on March 2nd, 2019._

---

@nic-hartley determined a non-admin user is able to edit a message for two days max. Thus, we could create a cache of media messages from two days and keep track of what Imgur URLs were generated for messages sent over those two days. When a user edits

[2019-02-02 22:02] jwflory commented on #118
_Discussed in 2019-02-02 RITlug developers' meeting. This issue is targeted for the v1.3 milestone, estimated to release on March 2nd, 2019._

---

I volunteered to work on this during this sprint. It's something I've wanted to do for a long time. I'm targeting for completion the Saturday, Feb. 16th developers' meeting.

I'll probably start working on this in a feature branch gradually.

[2019-02-08 20:06] Tjzabel commented on #115
So as an update, I am looking to go with option 1.

This entails enabling Imgur by default, and writing documentation suggesting to get a personal Imgur API key. However, this does not fix the issue of when someone uploads an image as a *file*. When uploading as a file, the API key is still shown.

In order to fix this, I think we can either:
1. Check to see if the photo is a file, and if so, don'

[2019-02-08 21:50] jwflory commented on #115
Ouch, I didn't know that.

I think we should add a configuration option to allow files to be sent, but it should be disabled by default (i.e. files will not be relayed over the bridge). We can provide documentation to warn a user about the risk of exposing the API key by enabling it. What do you think?

[2019-02-08 21:58] #53 closed

[2019-02-08 22:03] jwflory commented on #117
Oops. This is a duplicate to #77. Closing.

[2019-02-08 22:03] #117 closed

[2019-02-09 02:51] Tjzabel commented on #115
@jwflory hmm, so essentially it would work like this(?):

1. User sends file over Telegram
2. Teleirc sees message is of file type, checks to see if IRC file sending is enabled
3. If enabled, send over file IRC side, showing API key
4. If disabled, display message similar to: `<user> shared a file on Telegram`

Then, write documentation to support this suggestion. Thoughts?

[2019-02-09 18:18] ct-martin commented on #44
It'd be nice to have a user-level setting to toggle this for people on both sides of the bridge

[2019-02-09 21:30] jwflory commented on #77
_Discussed in 2019-02-09 RITlug developers' meeting._

---

Briefly discussed. @Tjzabel and @nic-hartley both are using a test Telegram group and test IRC channel for a dev environment. New docs should walk through this process to set up a dev environment to test changes (different kind of testing than CI tests).

[2019-02-09 21:32] jwflory commented on #118
_Discussed in 2019-02-09 RITlug developers' meeting._

---

Not yet started. I plan to split off main installation page into several smaller pages. Expecting the main docs page to be split up by next developers' meeting on Saturday, Feb. 16th.

[2019-02-09 21:39] jwflory commented on #115
_Discussed in 2019-02-09 RITlug developers' meeting._

---

Agreed on Option 1 with Imgur enabled by default with docs to explain how to get an Imgur API key. @Tjzabel's PR to include a configurable feature to send an alert that a file was uploaded without exposing the sensitive URL over IRC (e.g. `@Tim123 uploaded a file on Telegram with caption: "This is my white paper on why Teleirc is awesome.

[2019-02-09 21:43] jwflory commented on #44
_Discussed in 2019-02-09 RITlug developers' meeting._

---

No progress yet, mostly docs reading and testing. @nic-hartley aims to submit a PR for this by next developers' meeting on Saturday, Feb. 16th.

In terms of user preferences, we agreed this is a bigger task than can fit into this sprint. But some of work for this issue (e.g. keeping track of Telegram group membership) are useful for imple

[2019-02-12 20:28] Tjzabel commented on #115
Due to unforeseen circumstances, this issue will not be completed by 16 February.

By our next meeting, I hope to at least further my research into grabbing the document caption.

[2019-02-14 22:15] jwflory commented on #115
@Tjzabel Thanks for the advance heads-up. :+1: We should still be on target if you can get this sometime next week.

[2019-02-14 22:18] Tjzabel commented on #115
@jwflory I should most likely be able to still get this done (at lest the implementation, not documentation) sometime next week. I will re-evaluate my workload over this weekend to see what is realistically feasible.

[2019-02-16 03:08] thenaterhood opened #123 "Support for multiple systemd services (teleirc@.service file)"
Systemd has builtin support for a service file to back multiple services (see systemd-nspawn for an example). If we're supporting running multiple teleirc instances concurrently from the same box with systemd, we should add similar support so there's no need to copy around the teleirc service file.

This would also make it easier on people running instances, since updating the bot only involves on

[2019-02-16 04:34] Tjzabel commented on #123
This could be a good addition for those running teleirc for multiple communities.

[2019-02-16 22:28] #118 closed

[2019-02-16 22:53] #85 closed

[2019-02-16 22:53] #119 closed

[2019-02-16 22:56] jwflory commented on #113
@alcir Currently there is not a way to specify these things in Teleirc. This is a good candidate issue for v1.4. We'll review issues for the next sprint once v1.3 is released.

[2019-02-22 21:55] Tjzabel commented on #112
## Update
I went ahead and implemented a ZWP in the middle of nicks. It looks like this:
[code]

### Further considerations
Adding a ZWP essentially breaks all our unit tests that include a username. This will take some time to look through. This raises further questions:
1. Do we want this toggleable?
2. Will the implementation of "\u200B" as the ZWP break any IRC servers/handlers?

[2019-02-23 20:29] Tjzabel commented on #112
After further discussion, we are making the ZWSP a default behavior. We don't see much of a blocker or issue with having a ZWSP inside of a nick in every day communications.

With that being said, this has been implemented, and works as planned. The only issue at the moment is this breaks all our current Telegram unit tests, which have "expected usernames" without ZWSP inserted. In order to remedy

[2019-02-23 20:48] Tjzabel commented on #115
@alcir this issue has been resolved, and the newest changes have been pushed to master.

If you would like to have this new default behavior before our next milestone release, feel free to run teleirc from the master branch.

[2019-02-23 20:48] #115 closed

[2019-03-02 05:37] Tjzabel commented on #112
## Update

This issue is essentially complete. A simple override to the `ResolveUserName` method was all that was necessary in order to fix all the Telegram unit tests.

Next step is to write additional tests to make sure the ZWP works as intended. Mileage may vary at this stage, since I overrode the method.... *puts on thinking cap*

[2019-03-02 13:56] jwflory commented on #112
@Tjzabel Do you think this change will make the v1.3 window?

[2019-03-02 19:26] Tjzabel commented on #112
@jwflory not by today's meeting, but possibly by the end of today.

[2019-03-02 23:48] jwflory commented on #44
_Discussed in 2019-03-02 developer meeting._

---

This feature is pushed to the v1.4 release.

* Reviewed our options for the best approach to implement this
* Turns out, getting list of current users in a Telegram group is really really hard
* Better option to parse X number of previous messages and scrape usernames from those messages, because that's easy to do?
  * Default of 100 messages to s

[2019-03-02 23:50] jwflory commented on #51
_Discussed in 2019-03-02 developer meeting._

---

This feature is accepted for the v1.4 release. @Tjzabel will work on this feature for this sprint. His next action item is to share a short write-up of how to approach this one before the next developer meeting on March 9th.

[2019-03-03 00:14] jwflory commented on #113
_Discussed in 2019-03-02 developer meeting._

---

This ticket was accepted for the v1.4 sprint.

We agreed this is a high-priority feature because it makes the bot more useful for more people. The implementation should be straightforward. I plan to work on this during the March sprint.

[2019-03-03 00:16] jwflory commented on #41
This ticket is pushed to the backlog. It didn't make the change window for v1.3. We decided to hold off from including it in v1.4 because while annoying, it doesn't crucially disrupt the functioning of Teleirc.

[2019-03-03 00:18] jwflory commented on #56
This ticket was pushed to the backlog for now. This could be a good candidate for a v1.5 sprint. In the meanwhile, sprint development time will not be allocated to this ticket for now.

If someone in the community wanted to work on this or make a contribution, this would be an excellent place to start! :tada:

[2019-03-03 23:38] jwflory commented on #113
Uhh, actually @Tjzabel meant to close issue 112 with that commit, not this PR. Reopening.

[2019-03-03 23:39] jwflory commented on #112
@Tjzabel got this in commit 1207f99f3ec453febd06117c7e0b56f520a21c29 / PR #128. Closing as complete. :clapper:

[2019-03-03 23:39] #112 closed

[2019-03-04 04:01] naiaokami opened #129 "Channel Key Support"
It would make sense to add support for channel keys (passwords) on +k channels.

[2019-03-04 04:02] Tjzabel commented on #129
@naiaokami thanks for the issue! This is definitely something we can look into.

[2019-03-04 04:26] Tjzabel commented on #113
@jwflory thanks for the catch!

[2019-03-05 02:26] Tjzabel opened #130 "QoL Improvements"
### What this is
These are a collection of some quick quality of life improvements that don't necessarily warrant waiting for the 1.4 release. Items may or may not be added.

- [x] Show filetype IRC-side when `sendDocument=false`.
- [x] Insert ZWP into joining + leaving usernames Telegram-side.
- [x] (Backend) -- Work on handling promise rejections.

[2019-03-18 16:00] mruno opened #131 "Unable to authenticate with nickserv"
Request message showing if bot is authenticated with nickserv

Steps I performed:
1) Registered a nickname with nickserv on a desktop irc client
2) Edited the password IRC_NICKSERV_PASS="password here" in .env
3) Start teleirc
4) Observe the following messages:
[code]

By performing "/msg NICKSERV ACC <bot>" (on Freenode the commands is ACC, on other networks it is STATUS) returns 3 which means "u

[2019-03-18 16:04] mruno opened #132 "Unable to send messages from telegram to IRC"
I am able to send messages from IRC to Telegram, but not from Telegram to IRC.

Console messages when I start the bot:
[code]

Tried on IRC channels without any flags and bot +v
Tried on Rizon and Freenode networks

[2019-03-18 16:14] mruno commented on #132
Messages prefixed with "/" are sent from telegram to irc

[2019-03-18 18:31] mruno commented on #132
Found that privacy needed to be disabled.
Have admin of group remove bot then perform the following:

BotFather: Choose a bot to change group messages settings.
You: @SMTFirstBot
BotFather: 'Enable' - your bot will only receive messages that either start with the '/' symbol or mention the bot by username.
'Disable' - your bot will receive all messages that people send to groups.
Current status is:

[2019-03-18 18:31] #132 closed

[2019-03-24 23:01] nic-hartley commented on #44
Quick update: I've been really busy over Spring Break, then over the week after, but I've got a sorta-working demo of this running on my machine. It badly needs a bit of a refactor, but so far:

* It scans back 100 messages (hardcoded for now) and gets the usernames from those messages
* As more people talk, join, and leave, it updates its list of who's in the room
* Whenever a Telegram username i

[2019-03-25 03:11] jwflory commented on #77
PR #133 will close this issue.

[2019-03-25 03:26] #77 closed

[2019-03-30 19:29] jwflory commented on #113
_Discussed in 2019-03-30 Teleirc developer meeting._

---

I plan to do research this week for this ticket. I hope to have an idea of what to include and change for this by the next developer meeting on April 6th. I hope to have a final implementation by April 13th. I left the final week open in case of delays before the end of the v1.4 window on April 20th.

[2019-03-30 19:31] jwflory commented on #130
_Discussed in 2019-03-30 Teleirc developer meeting._

---

@Tjzabel has more free time this week to look at this. He is targeting completion for the next developer meeting on Saturday, April 6th.

[2019-03-30 19:36] jwflory commented on #51
_Discussed in 2019-03-30 Teleirc developer meeting._

---

Since @Tjzabel is currently working on #130 this week, no further updates expected on this ticket until Saturday, April 6th.

[2019-03-30 19:38] jwflory commented on #44
_Discussed in 2019-03-30 Teleirc developer meeting._

---

@nic-hartley is working through a major refactor in order to complete this ticket. We set a goal for a draft pull request to get wider maintainer review by the next developer meeting on Saturday, April 6th. This won't be a final implementation, but the goal is to get more feedback on the changes made so far to make sure everything will go

[2019-04-06 18:54] Tjzabel commented on #130
As a side note with this issue, we should work on handling promises.
[code]

[2019-04-06 18:57] Tjzabel commented on #130
### Update
As we have our latest Teleirc Developers Meeting today, here are my updates with this issue:

* Wasn't actually able to get to this issue as I said I was :slightly_frowning_face:
* I have a few ideas in terms of how I should go with getting this issue completed
  * Since this is a QoL issue, I *may* continue adding action items throughout the rest of the semester here.
  * Therefore, I

[2019-04-06 20:07] jwflory commented on #130
_Discussed during 2019-04-06 developer meeting._

---

@Tjzabel has low bandwidth for the remaining semester. We decided the best strategy is to accomplish each of these one week at a time. For now, Tim will get either one of the two above improvements in as a pull request by the next developer meeting on Saturday, April 13 2019.

[2019-04-06 20:09] jwflory commented on #51
_Discussed during 2019-04-06 developer meeting._

---

During the meeting, we took a realistic evaluation of work remaining for this sprint and what will make the next release. We changed our original plans of releasing v1.4 at the end of this month, and instead we're going for a smaller release, v1.3.1, with some of the other tasks.

This ticket will not be completed in the v1.3.1 sprint. It will

[2019-04-06 20:10] jwflory commented on #113
_Discussed during 2019-04-06 developer meeting._

---

I have no major updates yet. Still planning to get this done in the next week.

[2019-04-06 20:13] jwflory commented on #44
_Discussed during 2019-04-06 developer meeting._

---

We have decided to close this issue as out of scope for Teleirc because of the significant engineering effort required for a low-value feature add.

Since the volunteer maintainers do not have enough time and bandwidth to spend on this implementation, we decided to rule this issue out. We are closing it because there is no maintainer interest

[2019-04-06 20:13] #44 closed

[2019-04-06 20:16] jwflory commented on #32
This is one of our oldest tickets. There is no easy way to implement this, and also requires us to integrate an authentication capability into messages (i.e. ensuring someone's messages cannot be read by someone else). Because of the limited bandwidth of core contributors and maintainers, I think this ticket is out of scope for our project.

I'm open to revisiting this later, but I would prefer to

[2019-04-06 20:16] #32 closed

[2019-04-06 20:20] jwflory commented on #19
_Discussed during 2019-04-06 developer meeting._

---

@nic-hartley is picking this issue up to work on. If it is as easy as we suspected, he hopes to have a pull request up by Saturday, April 13.

In the meeting, we clarified this is _NOT_ bold highlighting of usernames mentioned in a message, but it is highlighting the message sender's username in their relayed message to the other side. Conside

[2019-04-10 17:47] jwflory commented on #113
I'm caught up in some of our other work for our new logo and planning our presence at the [Imagine RIT festival](https://www.rit.edu/imagine/) this month. I suspect I will not have time to work on this before the end of the Spring 2019 semester, but I will try to do what I can.

[2019-04-11 02:02] Tjzabel commented on #113
@jwflory thanks for the update! The end of the semester really is a messy time :rofl:

[2019-04-13 19:01] Tjzabel commented on #130
## Update
I was able to get to inserting ZWP into joining/parting usernames. Due to this, test fails, so I will be adding those tests before adding the short PR.

[2019-04-13 19:04] #19 closed

[2019-04-13 19:37] jwflory commented on #19
@nic-hartley implemented this in PR #134. Thanks for working on this one Nic! :tada:

[2019-04-13 19:44] jwflory commented on #113
_Discussed in 2019-04-13 Teleirc developer meeting._

---

As discussed above, I chose to drop this ticket for this sprint since I need more bandwidth to prepare for Imagine RIT at the end of this month.

@nic-hartley finished #19. Next, he is researching this ticket to see if it is simple enough for him to work on before the end of the v1.3.1 sprint on Saturday, April 20th. If it is a quick fix,

[2019-04-13 20:54] Tjzabel opened #136 "Consider switching back to npm instead of yarn"
We decided to use `yarn` instead of `npm` for some reason a while back.

It may be a good idea to investigate this further, and figure out if we should switch back to the standard npm.

[2019-04-13 21:17] Tjzabel opened #137 "Add support for audio file uploading"
Currently, we only support some types of files. If a user wishes to upload an audio file for example, we get `[TG Debug] Ignoring non-text message`.

We should look into other file types and try to support the uploading of these.

[2019-04-20 19:16] jwflory commented on #130
_Discussed in 2019-04-20 developer meeting. Final developer meeting of the RIT Spring 2019 semester._

---

@Tjzabel will try to wrap up the ZWP clean-up by Sunday night, April 21. On Monday, April 22, we will cut v1.3.1 either way. Future work will be pushed into the summer or next fall semester.

[2019-04-20 19:17] jwflory commented on #113
_Discussed in 2019-04-20 developer meeting. Final developer meeting of the RIT Spring 2019 semester._

---

This ticket is dropped for the v1.3.1 sprint because we lacked team bandwidth to work on it leading up to university final exams. This ticket may be completed over the summer. More sprints may be planned for summer.

[2019-04-20 23:27] Tjzabel opened #138 "Check to see if another TeleIRC bot instance is running"
## Issue
When a bot instance is running, and you start up the same instance in another window, the first instance is shut down.

## Reasoning
It may be a good idea to first check to see if a bot instance is already running, so the bot isn't forcefully shut down.

## Result
No duplicate bots affect already-running instances, and the duplicate bots receive messages notifying them of another bot alre

[2019-04-20 23:29] jwflory commented on #138
Perhaps this is also related to why the bot sometimes spawns off iterations of itself. For example, a bot with a configured nick of `my-teleirc` sometimes will connect as `my-teleirc1`, `my-teleirc2`, etc.

[2019-04-21 00:49] Tjzabel opened #140 "Consider supporting nodemon in development environments"
## What this is
[Nodemon](https://nodemon.io/) is a nodejs tool to watch file changes, and restarts the service when any file changes occur.

## What it looks like
`nodemon [--watch .env] teleirc.js`
By default, nodemon watches the current directory, excluding any dot files. You can add an optional `--watch` parameter to specify any other files (such as the `.env`) that are left out.

## Outcome
U

[2019-04-21 01:23] Tjzabel commented on #51
## Update
Work has gone underway! Here's what's been done so far:
* Listener to `reply` events has been added
* `TgReplyHandler.js` file has been created, and stubbed.

It is unknown when I will get around to actually completing this issue, but at least a head start has been made. I'm projecting an early-summer deadline.

[2019-04-21 01:40] Tjzabel commented on #51
Also, as an update to @xforever1313's comment, a reply message is indeed a Message object in itself, so a simple check just needs to be made to see if the `reply_to_message` field exists within the Message object.

If it does, then we go into that message object, grab say, the first 20 characters, and prepend it to the main message. We should make the reply message length a config variable. After

[2019-04-21 02:20] jwflory commented on #140
@Tjzabel This is interesting. I wonder how this affects packaging for those who use `systemd` unit files to manage TeleIRC. Could you describe the process a sysadmin follows to upgrade and restart the bot with `nodemon` and `systemctl`?

I wonder if automatic detection of changes is desired behavior?

[2019-04-21 02:23] jwflory commented on #51
@Tjzabel Super, thanks for digging into this one. I saw your [51-TG-replies](https://github.com/RITlug/teleirc/tree/51-TG-replies) branch. We'll keep this on the horizon for v1.4. :+1:

[2019-04-21 02:27] Tjzabel commented on #140
@jwflory the purpose of nodemon is for automatic detection of changes.

Using the systemd service file, you can still use `systemctl restart` if needed.
Using nodemon itself, typing `rs` in the terminal will make nodemon restart the program.

For upgrading:
1. Run `nodemon teleirc.js` in one window, and have a second fresh window to `git pull`
2. Do the `git pull` to get the newest changes
3. node

[2019-04-21 02:29] Tjzabel commented on #140
The main use I've seen for nodemon is in docker containers, where developers share the directory as a volume, and use nodemon to restart the application when files are updated. This means docker doesn't need to be restarted each time a change happens, contrary to normal container development processes.

[2019-04-21 02:33] jwflory commented on #130
PR #139 brings this issue to a wrap. :clapper: Thanks @Tjzabel for getting this in before the v1.3.1 release deadline! :tada:

[2019-04-21 02:33] #130 closed

[2019-04-21 14:26] jwflory commented on #140
@Tjzabel I'm not sure this is desired behavior. If you deploy a container on bare-metal, this makes sense. But when you use a container orchestration tool like Kubernetes (k8s), usually a new "good" container is created and it replaces the old container. This lets you roll back to a known good configuration (or container).

I believe we should cater towards a k8s use case. This is a nice idea and

[2019-04-21 15:04] jrtechs commented on #140
I've use nodemon before and it works great for development where you don't constantly want to restart the server manually. This might be dicey to use for production because of node packages that might need to be fetched/updated for a new code release.

A well maintained update/install script _might_ be the right route to go if you plan on having a bunch of updates.
A update script would probably d

[2019-04-23 18:52] jwflory commented on #140
Hi @jrtechs, thanks for weighing in! :+1:

I'm not sure we will have many updates. We usually push out a git tag once every months. For feature releases (e.g. `v1.x`), there may be new functionality that requires human intervention to upgrade (e.g. adding or changing a setting to the config file).

Since in the end, the service is still restarted (i.e. the bot will disconnect from Telegram and IRC

[2019-04-23 18:59] Tjzabel commented on #140
@jwflory @jrtechs I think there is a slight misunderstanding here. I am only considering using nodemon for local development.

I wasn't planning on this being a large change. Simply adding an npm script entry into `package.json` to support nodemon in development, and possibly adding nodemon into dev images so docker can properly be used for development purposes as well, was all I had in mind.

[2019-04-23 19:00] Tjzabel commented on #140
This issue came to mind for me when I was constantly stopping/starting TeleIRC as I was doing development.

[2019-04-23 19:11] jwflory commented on #140
@Tjzabel I first read this issue as a change in how we primarily run the application (i.e. instead of `node teleirc.js`). If this only affects the development environment and also does not affect how the application is deployed, then I think this is fine.

[2019-04-26 01:21] jwflory opened #142 "Escape IRC messages as plaintext (i.e. no Markdown formatting) in Telegram"
# Summary

IRC messages sent to Telegram always render as plaintext (i.e. no Markdown formatting rules applied)

# Background

When hyperlinks including underscore characters are sent across the bridge, Telegram has suddenly started rendering this as italics:

`https://meetbot.fedoraproject.org/fedora-meeting-1/2019-04-25/f30-readiness-meeting.2019-04-25-19.00.log.html`

![Rendered message in Tele

[2019-05-16 20:46] Tjzabel opened #143 "Quick Fix: Revert IRC bold formatting"
The use of markdown in order to achieve the bold formatting across platform has the unintended side-affect of messing with links that get sent across the bridge as well.

Since URLs are quite important, we feel it would be a good idea to revert this change until we can figure out a more proper way to implement the bold formatting.

[2019-05-24 13:38] DiegoDAF commented on #59
We are using teleirc on BSD Ar Group

Organization: BSD Argentina
Website: http://sysarmy.com/bsdar
Telegram group URL: https://t.me/bsdar
IRC Channel: #bsdar on freenode.net

[2019-05-25 02:28] Tjzabel commented on #59
@DiegoDAF Thank you for your your addition! We generally prefer you open a new issue with your group info, but I'll take care of that for you.

[2019-05-25 02:31] Tjzabel opened #144 "Add BSD Ar Community"
From @DiegoDAF:

[2019-05-26 03:05] Tjzabel commented on #144
@DiegoAF It seems I am unable to reach your website http://sysarmy.com/bsdar. Sysarmy.com works just fine, however. Is there another link that I should use?

[2019-05-26 03:17] Tjzabel commented on #144
@DiegoDAF It seems I am unable to reach your website http://sysarmy.com/bsdar. Sysarmy.com works just fine, however. Is there another link that I should use?

[2019-05-26 03:20] Tjzabel commented on #143
@jwflory What are your thoughts on this issue?

[2019-05-26 03:23] Tjzabel commented on #136
I don't personally see any issues with yarn, and since we're using it, we may as well stick with it.

My only reason for using npm, is the `npm audit` functionality npm gives to see if there are any current security vulnerabilities in any npm packages we pull in. Whether it's worth switching back to npm just for this functionality is up for discussion.

[2019-05-26 03:42] Tjzabel commented on #142
# Discussion
I'm always hesitant to add more pre-message processing as this adds more overhead to TeleIRC before messages are sent across the bridge.

At the moment, it seems to me that we have several courses of actions with this issue:
1. Check to see if a message contains `http` or `https` in it, and turn off markdown within that section if so
2. Revert the markdown entirely

## Option 1
Course

[2019-05-26 03:49] Tjzabel commented on #142
I created #143 since links are so important. This would go towards Option 2 as a short-term action, while we work on planning out how Option 1 would work.

[2019-05-26 19:25] xforever1313 commented on #142
The line that introduces the markdown to bold the username is inside of IrcMessageHandler.js:

`let message = "<*" + username + "*> " + userMessage;`

We're only using markdown to bold the username, and nowhere else (to my knowledge).  Could we just escape the user's message so any markdown get escaped?  Something like:

`let message = "<*" + username + "*> " + Markdown.Escape( userMessage );`

Gi

[2019-05-27 00:54] Tjzabel commented on #142
Hm, that could very much be a good solution. I wasn't aware of the `Markdown.Escape` method.

Thanks for finding this!

[2019-05-27 11:51] DiegoDAF commented on #144
Hi! yes, we are working on it, we are a spinof sysarmy (the argentinian sysadmins community) . In this dsays we are online again!

[2019-05-27 13:39] DiegoDAF opened #145 "It's possible hide the "nodebot""
Hi, when the bot connecto to the irc channel I see the connection message:

-!- teleirc [~**nodebot**@190.216.73.194] has joined #bsdar

It's possible hide or change the string "nodebot"?
because, all who want to attack us know what is nodebot

Thanks a lot,
Diego

[2019-05-27 17:09] Tjzabel commented on #145
Hm, so this not something that is reasonable or necessary to do. You can:
1. Disable join/leave messages
2. Rename the nodebot to something else

However, the entire purpose of TeleIRC is that it routes traffic from one platform to the other. Any time a message comes from Telegram to IRC, nodebot will be the user that relays those messages. It's not a bot that you will see only once when it's join

[2019-05-27 17:12] Tjzabel commented on #144
@DiegoDAF okay, I will go ahead and add that link even though it's not currently online. If this changes in the future, feel free to create another issue for it.

[2019-05-27 17:46] DiegoDAF commented on #145
Hi Tim!

Yes, I see, but after ask again in the group, They told me the "whois" is showing **realname : nodeJS IRC client** and that is the problem.

[code]

[2019-05-27 17:59] DiegoDAF commented on #145
I change it on:

node_modules/irc/lib/irc.js
and
node_modules/irc/docs/API.rst

[2019-05-27 18:08] Tjzabel commented on #145
@DiegoDAF I still don't see what the issue is. Anyone can run a `whois` on a server. It's still not much of an attack. All I'm getting from that is that it's a nodeJS bot running in that channel, which you would already know just from being in that channel.

I would like to know what your specific concerns are with this?

[2019-05-27 18:33] Tjzabel commented on #144
Merged through ^.^

[2019-05-27 18:33] #144 closed

[2019-05-28 00:37] Tjzabel commented on #143
Since I haven't gotten any feedback on this issue, I am considering closing it in favor of working on #142 instead.

[2019-05-29 00:40] nlMeminger opened #147 "contributing guidelines link on README does not work"
the link in the repo README for contributing guidelines does not lead anywhere.

[2019-05-29 01:22] nlMeminger commented on #137
I will work on this

[2019-05-31 15:55] jwflory commented on #144
@DiegoDAF Thanks for letting us know about your community! :tada:

@Tjzabel Thanks for taking care of this. :+1:

[2019-05-31 15:58] jwflory commented on #137
@Tjzabel @nlMeminger I think this needs some planning first. The issue we had previously for the Telegram API is that it exposes the bot API key. So I am guessing we need to use a third-party service to upload audio files like we do with Imgur for images.

Alternatively, we could also build in support for using local file storage for hosting, but that goes beyond the scope of audio files alone sin

[2019-05-31 16:00] jwflory commented on #147
@Tjzabel I notice you self-assigned this issue. Are you working on this one currently?

[2019-05-31 16:01] jwflory commented on #136
@Tjzabel For now, we can keep this issue on the backlog. I think `npm` is easier for some deployment situations, but this is definitely a low-hanging fruit task. If someone submits a PR for us with this change, we can review it then.

[2019-05-31 16:04] nlMeminger commented on #137
My thought was that we would treat audio files like normal documents, and model the audioHandler after the documentHandler.  Do you have any thoughts on this approach?  I think this would be simpler instead of looking for a third party to host the files like imgur

[2019-05-31 16:05] jwflory commented on #142
+1 for @xforever1313's solution. We don't need to parse the message content as Markdown, only the username.

[2019-05-31 16:06] jwflory commented on #143
@Tjzabel Given @xforever1313's suggestion to only process Markdown formatting on usernames, we can close this. Admittedly it still presents problems for usernames with certain characters (i.e. `jwf[m]` is rendered as `jwfm`, but I suppose this is workable for now.

Closing this as `wontfix` in favor of #142.

[2019-05-31 16:06] #143 closed

[2019-05-31 16:14] jwflory commented on #137
I see. I assumed Telegram treated any file other than images as a document. If the `TgDocumentHandler` does not catch audio files, we can create a new `TgAudioHandler` class. It comes with the same caveat as documents that if you want to send audio files over the bridge, it will expose the Telegram API token in the IRC channel. But at least this way we can handle audio files so IRC users have cont

[2019-05-31 17:05] Tjzabel commented on #147
@jwflory I was planning on doing it since it is such a quick fix. If you get to it before me, feel free to pick it up. I'm going to unassign myself from this issue since I am not actively working on this.

[2019-05-31 17:07] Tjzabel commented on #136
@jwflory I definitely agree this is a very low-hanging fruit task/change. I am honestly also fine with closing it out as well. I mostly made this issue so we could have a quick discussion at some point in the future about why we're actually using yarn instead of npm.

[2019-05-31 17:13] Tjzabel commented on #137
@jwflory Yep, this issue is covering audio files, and needs a `TgAudioHandler` to be created in order to handle this.

Documents, in terms of Telegram, *only* consist of general files. The other file types that are available include are:
* Audio
* Animation
* Game
* Video
* Voice

This still brings into question the API key aspect, but we had a question or two about audio files specifically in our

[2019-06-03 14:57] Tjzabel opened #148 "Long usernames cut short Telegram side"
## Example
[code]
## Issue
In the message displayed above, `desnudopenguino[m]` does not have his full username shown.

## Solution
Figure out where we do username creation, and figure out if we have a max username size, and see if we need to increase the max username size.

[2019-06-04 01:56] #147 closed

[2019-06-04 02:01] Tjzabel commented on #145
Due to the nature of the TeleIRC bot, and bots in general, the bot name *has* to be available, since the bot is the user that is actually relaying traffic over the bridge. There is no way to hide the bot name, nor is there a good enough reason to.

@DiegoDAF thanks for bringing this issue up nonetheless! It's always good to have a conversation about security :+1:

[2019-06-04 02:01] #145 closed

[2019-06-04 02:21] Tjzabel commented on #148
It's a *possibility* that `TgMessageHandler.js` may inadvertently be creating this issue:
[code]
This code block is doing a lot of splitting/filtering in order to get the multi-line formatting to work correctly. This is a possible starting point.

[2019-06-06 15:34] jwflory commented on #145
Hi all! Security concerns aside, I think this is worth considering. We have a ticket already open, #113, that would cover this issue.

The fields @DiegoDAF refer to are for the `ident` and `realname` fields in an IRC connection. My guess is the IRC Node library we use sets defaults for `nodebot` and `nodeJS IRC client`. This should be fairly trivial to override and add new configuration options to

[2019-06-06 15:36] jwflory commented on #113
See issue #145 from @diegoraf for the `ident` and `realname` fields set by the Node IRC library we use. It provides defaults of `nodebot` and `nodeJS IRC client` respectively, but we should override these and make them available to configure in our `env.example` file.

Also, when we do this, I would like to make our provided default config use `teleirc` for the `ident` and maybe `TeleIRC bot (http

[2019-06-06 15:59] jwflory commented on #148
@Tjzabel Did we verify this in vanilla IRC? I think this might be a limitation of Riot, not TeleIRC.

When I connect to my IRC client, I also see @desnudopenguino's username as `desnudopenguino[`. This is because Riot sets its username only in Matrix. It uses a different nick to connect to Freenode unless you manually change it (see _Setting your IRC nick_ in [this article](https://opensource.com/

[2019-06-07 14:43] Tjzabel commented on #148
@jwflory ah, makes sense. So it looks to be more of an issue that Matrix has a longer username length cap than IRC. If that's the case, then this issue may not have a fix.

[2019-06-07 22:48] #148 closed

[2019-06-12 02:35] Tjzabel commented on #113
Taken care of in PR #150 :tada: :tada:

[2019-06-12 13:31] jwflory commented on #113
#150 addresses some of this issue, but not all of it. Before closing this issue, I would also like to hit these parts from [`irc.Client`](https://node-irc.readthedocs.io/en/latest/API.html#client):

* `userName`
* `realName`
* `secure`

I think these last configuration options, combined with #150, will be sufficient to address most users' needs.

[2019-06-12 14:33] Tjzabel commented on #113
@jwflory I have a history of closing issues before fully realizing if they're done. I'll try to be better about that :smile:

[2019-06-12 15:40] jwflory commented on #113
@Tjzabel No worries. I am equally guilty of doing the same at times too. :joy:

[2019-06-24 14:18] Tjzabel opened #153 "Add space after (edited) in edited Telegram messages"
This is a super pedantic issue, but when someone edits a message:
[code]

There should be a space between `(edited)` and the start of the message.

[2019-06-24 18:55] jwflory commented on #153
Ahh, I noticed this too! I think it only happens when using a non-default edit message. In the case of the channels you and I are both in where I configured a non-default value, I did add the whitespace, but somehow it gets trimmed out.

A better implementation might be to hard-code the whitespace into TeleIRC, so an end-user doesn't have to remember to include it anyways for it to work.

[2019-06-24 18:57] Tjzabel commented on #153
@jwflory ah, thanks for the clarification. I wasn't aware this was solely a non-default value issue.

[2019-06-24 18:59] jwflory commented on #153
I would bet this could be fixed by adding whitespace here:

https://github.com/RITlug/teleirc/blob/36b10eeeb196a680f0fd0fa556c9176f889e40dd/lib/TelegramHandlers/TgEventListener.js#L83-L87

And removing whitespace here:

https://github.com/RITlug/teleirc/blob/36b10eeeb196a680f0fd0fa556c9176f889e40dd/config.js#L21

[2019-06-24 19:00] Tjzabel commented on #153
That's most likely the fix :+1:

[2019-07-03 20:12] acy commented on #129
Hi. Any ideas on what it would take to implement this properly?

I'm currently running teleirc on a channel with a key, and so far the only change I had to make was to fiddle with this check, since the configured channel has the key in it, but the actual one doesn't:
`if (channel.toLowerCase() !== this._ircConfig.channel.toLowerCase()) {`
in [IrcMessageHandler:42](https://github.com/RITlug/teleirc

[2019-07-07 22:32] Tjzabel commented on #129
@acy hello! Thanks for adding an update to this issue. We are currently on "break" for the summer, and only making fixes to breaking updates until we pick back up in mid-August. You can see what issues we are currently working on [here](https://github.com/RITlug/teleirc/projects/1?fullscreen=true).

In terms of a workaround, what you described is essentially what I would have done as well. This do

[2019-07-10 14:47] Tjzabel commented on #136
Since we use yarn, I see no reason to go back to npm unless something breaks :man_shrugging:

[2019-07-10 14:47] #136 closed

[2019-07-10 14:56] jwflory commented on #136
Yeah. I think this is a fair conclusion. :+1: I don't know if I understand the value in doing this either.

[2019-07-19 03:11] Tjzabel commented on #153
Fixed in commit 3a401d4d1b39c36904287bc5b1ccb484b0ed2454

[2019-07-19 03:11] #153 closed

[2019-07-20 22:04] #140 closed

[2019-08-01 15:20] #142 closed

[2019-08-02 20:44] Tjzabel opened #157 "Escape more non-message strings as plaintext (e.g. action messages, join/part messages, etc.)"
When using Matrix to talk over IRC, Matrix-created links (from uploaded files for instance) don't show up on Telegram.

[2019-08-02 22:27] Tjzabel commented on #157
[code]

Here is an example of a matrix image being sent to IRC. My initial feeling is Telegram may be viewing the message as a command, similar to the `/me` command.

[2019-08-02 23:24] jwflory commented on #157
@Tjzabel Hmm. So the message does not show up completely? I am shooting in the dark here, but the Matrix file uploads seem to use the emote message format (i.e. `/me says hi!`). I noticed the URL is also wrapped in angle brackets… could it be that emote messages are not being escaped as plaintext and they are accidentally being parsed as HTML?

[2019-08-03 00:50] xforever1313 commented on #157
Here's the raw IRC message we get from the socket (taken from xbot's logs):

[code]

@Tjzabel - your suspicion is right, it is an action just like /me.

[2019-08-03 00:58] Tjzabel commented on #157
@xforever1313 huh, that's odd. Thanks for confirming :+1:

[2019-08-03 01:03] Tjzabel commented on #157
I wonder if we should file a ticket to have Matrix change how they do that, or if we should catch that action.

[2019-08-03 01:14] jwflory commented on #157
@xforever1313 Do you have the raw IRC message of a normal action message to compare against the Matrix `PRIVMSG` message? It is not clear to me how catching a normal action message (which works today) is different from catching this action message from Matrix.

@Tjzabel I think it requires a lot of persuasion to convince upstream to change this behavior. And even then, it could be a full year, or

[2019-08-03 01:18] Tjzabel commented on #157
@jwflory what does RFE mean?

But yes, I agree it would be a longshot to do so. I'm just not entirely sure what the reasoning was for doing it this way.

[2019-08-03 01:24] jwflory commented on #157
Sorry, RFE == Request For Enhancement!

[2019-08-03 01:26] xforever1313 commented on #157
I do... here's one that DID go over the bridge:

[code]

Compared to the one that did not:
[code]

I got nothing...  they look the same to me other than the message that did not go through has more special characters.

[2019-08-03 01:48] jwflory commented on #157
@xforever1313 Thanks! This confirmed my suspicion. :smile: So, action messages are not being escaped as plaintext. They need the same fix that @Tjzabel did for regular message types.

In `#ritlug-teleirc`, I sent two action messages:

[code]

The first message made it to Telegram but the second did not. So I think this issue means we need to actually escape more strings as plaintext.

[2019-08-03 02:21] Tjzabel commented on #157
@jwflory great catch!! This'll be a fun one to do then :smile:

[2019-08-04 03:56] Tjzabel commented on #157
Additional background:

[code]

[2019-08-12 13:22] Tjzabel opened #158 "Make sure document sending is disabled by default"
Through a quick conversation on `#ritlug-teleirc`, someone mentioned their API key was being sent through when sending over a document.

This feature was turned off by default, so I would like to double check to make sure this is actually working as intended. Document sending should only be done in channels where the owners feel it is okay for their key to be seen.

## Steps to close this issue
1.

[2019-08-12 13:25] Tjzabel opened #159 "Consider using an intermediary document hosting service"
Due to TeleIRC disabling sending over documents by default due to Telegram sending over the API key, it may be worthwhile looking into possibly using an intermediary measure to translate the Telegram link to another hosting source.

Another *possible* measure would be to ask Telegram to change how bots send documents. This would fix many issues that I'm sure many other Telegram bots suffer from.

[2019-08-12 14:42] Tjzabel opened #160 "RIT FOSS and TeleIRC Telegram channels don't show username bolding on IRC"
Since TeleIRC has rolled out username bolding, most channels now have username bolding from Telegram => IRC. I've noticed for some time that these two channels don't actually have bolding for some reason.

I'm not sure if this is an issue with our current Ansible deployment, or some other reason.

[2019-08-20 01:38] Tjzabel commented on #56
WWeeelllll, it looks like paste.fp.o is being retired in favor of another solution. It may not be a good idea at this point to create this feature surrounding that platform.

[2019-08-23 22:44] Tjzabel opened #161 "Find New Developer Meeting Time + Place"
With the summer hiatus coming to a close, it's time for us to work on finding a new meeting time and place to pick up the fall development sprint.

[2019-08-29 00:03] Tjzabel opened #162 "Add option for logging"
_Related to #213._

---

TeleIRC does not currently log output to a file.

For those who run TeleIRC via methods like ansible which do not have direct access to TeleIRC's output, it would be helpful to have a log file that catches any output. This would allow for deeper debugging if/when issues arise.

[2019-08-30 03:23] jwflory commented on #159
Thanks for opening this @Tjzabel.

We need more research on our options. We could do something fancy like integrate with Google Drive, but that type of storage seems more permanent than Telegram messages are meant for. Do you have some time to explore other ephemeral options?

The upstream fix is the best but also hardest fix. Despite Telegram touting its open source roots, they do not have a tran

[2019-08-30 03:27] jwflory commented on #56
[Hastebin](https://hastebin.com/) is another reliable favorite. You can send txt documents [directly to their backend](https://github.com/seejohnrun/haste-client#lightweight-alternative) for easy uploads.

[2019-08-30 03:30] jwflory commented on #162
This would also be useful with monitoring infrastructure. It would be nice to leverage journalctl priorities for easy filtering.

Also, it might be worth adding functionality to write channel/group chat logs to disk, as a feature disabled by default.

[2019-08-30 14:36] Tjzabel commented on #162
Hmm... I suppose we could add a feature to allow logging chats to disk. I would only consider it as an option disabled by default, as logging any sort of communication brings in additional considerations.

I agree it would be nice to allow for some sort of additional journalctl logging capabilities when using the systemd service files.

[2019-08-31 01:02] jwflory opened #163 "Rewrite TeleIRC from NodeJS to Go"
# Summary

Rewrite TeleIRC from NodeJS to [Go](https://golang.org/)

# Background

Recently we discussed a semester mini-project of rewriting/porting TeleIRC to Go for the following reasons:

* **Primary goals**:
    * Distinguish our project from the other NodeJS teleirc bot
    * Make a better appeal to the k8s/OpenShift community with a Go app
* **Secondary goals**:
    * @Tjzabel and @jwflory

[2019-08-31 01:59] xforever1313 commented on #163
Go is statically typed and compiled, which to me makes it superior than node, at least on paper.  I personally don't know much about Go, so pardon my ignorance here.

Some things to consider:
* Does Go have an event handler system like Node's EventEmitter or C# Events?  We use these heavily in the Node implementation.  Events are usually more efficient than polling.
* Our Node implementation uses

[2019-09-01 19:56] Tjzabel commented on #160
So this issue was *apparently* an issue on my side.

When using a Matrix client, I was not getting any username bolding coming from Telegram, but after some configuration on my side, I see it :man_shrugging:

[2019-09-01 19:56] #160 closed

[2019-09-01 23:25] Tjzabel commented on #163
## Does Go have an EventEmitter equivalent?
Go *does* have a very good EventEmitter system, in the form of channels

## Does Go have appropriate library equivalents?
* IRC Libraries
  * [IRC lib option 1](https://github.com/thoj/go-ircevent)
  * [IRC lib option 2](https://github.com/go-irc/irc)
* Telegram library
  * [Go Telegram Bot API Library](https://github.com/go-telegram-bot-api/telegram-bot

[2019-09-01 23:38] Tjzabel commented on #162
## Update
If using the TeleIRC systemd service file, or docker image, then logging will go to `stdout`.

This issue is more for logging to files.

[2019-09-02 01:36] Tjzabel commented on #163
As a side note, I've been experimenting in my head with how a port to Go would work.

I believe it would take a solid 3 folks with TeleIRC as their main/only project in order to finish this by the end of this semester (if that's our goal).

Everything exists (except *maybe* the Imgur library) for this port to go smoothly. The main factor for this move is *time*. The main questions really are:
1. W

[2019-09-02 22:39] jwflory opened #164 "Drop priority labels from TeleIRC issues"
# Summary

Delete "`priority:*`" labels from TeleIRC issue labels

# Background

These labels use a subjective method of establishing priority. There is no consistent way to determine what priority something is: it is up to the person who applies the label. Instead, there should be a greater emphasis on using the project boards to define priorities by sprint cycle.

Currently, I do not think the l

[2019-09-02 22:41] jwflory commented on #158
The option is disabled in the example configuration file:

https://github.com/RITlug/teleirc/blob/108b84dd6ec855997710603d403b16e87c9445b2/env.example#L13

I don't have a record of this conversation. Did we ask the person to check what version of TeleIRC they were running? Without more data or someone willing to confirm this, I suggest closing this as `invalid`. I think it is more likely they were

[2019-09-02 22:42] jwflory commented on #160
@Tjzabel Weird! Thanks for updating us in this issue. :+1:

[2019-09-02 22:43] Tjzabel commented on #164
Hmm.. I'm generally a heavy user of priority labels, but I completely understand the subjective nature of them. I am okay with moving away from using these labels, in favor of more descriptive labels and project board(s) usage.

[2019-09-02 22:45] Tjzabel commented on #158
At this point, I am okay with closing this issue.

[2019-09-02 22:46] #158 closed

[2019-09-03 01:38] jwflory commented on #164
@Tjzabel Most/all of our other labels serve clear purposes. Can you think of other useful label / metadata changes, or does what we have now work? Now is a good time to suggest any improvements :smile:

[2019-09-03 01:49] jwflory commented on #163
I believe this decision should be final by the first development meeting.

Involving new folks is easier if we have a (loose) roadmap of a major project goal/target to work towards. It can be overwhelming to volunteer for a new project and get asked, "What do you think we should start?" Instead, I prefer to show up with ideas of different directions to steer this semester and then see how to engag

[2019-09-03 01:52] Tjzabel commented on #163
@jwflory sounds good. Is there currently a relative time when we want to have our first developer meeting?

As a side note, I have confirmed a Go bot works from both IRC and Telegram side, given the libraries I have linked above.

[2019-09-03 02:02] Tjzabel commented on #164
@jwflory by more descriptive, I simply meant making sure the labels adequately signify the importance of the issue, alongside the project board placement.

I don't think we need to necessarily create new label types in order to complete this issue. Just making sure the labels assigned adequately signify its current status.

[2019-09-03 02:21] Tjzabel opened #165 "Add License headers to source code"
Currently, TeleIRC only has a license in the root of the repository. In order to conform with standards, we should make sure each of our source files contain a license header.

[2019-09-06 15:03] Zedjones commented on #163
Having used Go for quite a few projects, the only real sticking point that I've run into is mocking/unit tests. GoMock does work well, _when_ it's possible to use it. However, it only worked on interfaces. So, if you are using a library that provides a struct and want to mock it, you have to wrap it inside of an interface and then mock that interface. This requires changes to the source code, whic

[2019-09-06 20:09] Tjzabel commented on #163
@Zedjones thanks for the input!

That's interesting about the Mock library. I wonder why it would function like that.

[2019-09-06 20:53] Zedjones commented on #163
Since Go isn't object-oriented and as such there's no way to subclass a struct, if you're accepting a struct, there's no way to fake a mock as an instance of that struct. The mocking library would either have to modify your source code or the module's source code either way, so instead they just opted to support interfaces.

[2019-09-07 01:22] Tjzabel commented on #163
Ah, makes sense.

[2019-09-07 01:23] Tjzabel commented on #161
Time has been set!

TeleIRC developer meeting time will be **Saturdays at 3pm EST**.

[2019-09-07 12:29] jrtechs commented on #161
I can help reserve the MAGIC center room for the meeting.

[2019-09-07 22:44] #165 closed

[2019-09-08 01:40] Zedjones commented on #163
[go-imgur](https://github.com/koffeinsource/go-imgur) might work for our imgur needs. We'd need to download the image from Telegram into memory first and then pass that byte array to the function provided by go-imgur, but it's just one more step than what we do now (passing the URL directly to the imgur library in Node).

[2019-09-08 02:49] Tjzabel commented on #163
@Zedjones thanks for looking into that!

[2019-09-08 12:49] jrtechs commented on #161
This is the booking summary for the meeting room. We were unable to book 2 of the weeks in October.

Saturday, September 7, 2019
3:00 PM - 4:00 PM TeleIRC team (Web Request) 071 MSS-3190 Conference Room
As-Is for 12
Saturday, September 14, 2019
3:00 PM - 4:00 PM TeleIRC team (Web Request) 071 MSS-3190 Conference Room
As-Is for 12
Saturday, September 21, 2019
3:00 PM - 4:00 PM TeleIRC team (Web Req

[2019-09-08 12:49] #161 closed

[2019-09-13 19:30] Tjzabel opened #167 "Update config file glossary documentation"
The current [configuration glossary](http://docs.teleirc.com/en/latest/config-file-glossary/) is missing a lot of the configurable options found in the `config.js` and `env.example` files. Notable missing options are:
* IRC Channel key
* IRC port
* IRC certs specification.

We should make sure all of our available options are properly documented.

[2019-09-13 19:43] Tjzabel commented on #163
Hmm... The next challenge I'm working through, is figuring out how the project board should be laid out as we do this move to Go. Do we want to have a separate project board for the Go port, or do we want to move everything we currently have in TeleIRC Development to the backlog, and continue from there?

[2019-09-13 20:07] Tjzabel opened #168 "Create new repository layout"
Go projects follow a different directory layout than others. We should standardize on how we want to lay out all our files.

[2019-09-14 15:11] Tjzabel commented on #51
Removing from 1.4 milestone due to re-scoping.

[2019-09-15 10:42] SLKTH opened #172 "Is there support for IRC server password?"
I have a password set up to connect my IRC server. Is there an option to configure this in the .env file?

[2019-09-15 16:41] Tjzabel commented on #172
Hmm... At the moment we do not support channels that require password authentication.

I looked into whether or not the IRC library we use supports this, and I'm not sure they do. I followed up with them to ask for clarification, and will let you know when I find out.

Thanks for the issue :+1:

[2019-09-15 16:48] Tjzabel commented on #172
I am actually going to mark this issue as a duplicate of #129

My response is the same, in that we are looking to see if this is viable to do. Further development on this topic will be focused in the issue listed above.

[2019-09-15 16:50] Tjzabel commented on #129
As an update, I looked into the IRC library we use to see if there is support for channels that require password authentication.

I am unsure if the functionality exists, and I have asked for further clarification. I will let you know the result of the conversation :+1:

[2019-09-15 17:41] Tjzabel commented on #164
I decided to take this issue upon myself.

All priority labels have been removed from issues, and I am going to remove the priority label tags from the list of available options.

[2019-09-15 17:41] #164 closed

[2019-09-15 19:05] Tjzabel commented on #168
Done via 5f52a14cfeb88dc43e076740742a48a3e4aa26a0 :tada: :tada:

[2019-09-15 19:05] #168 closed

[2019-09-15 19:10] Tjzabel opened #173 "Build out initial teleirc.go"
As we've now set the new layout of the Go project, we need to create the barebones `cmd/teleirc.go` main file.

The objective of the main Go file is to:
1. Read in config values
2. Set up IRC bot
3. Set up Telegram bot
4. Set up bot listeners

[2019-09-15 19:18] Tjzabel opened #174 "Build out config parsing"
The first stage for creating a TeleIRC bot is reading in all the configuration settings, set as environment variables.

[2019-09-15 19:28] Tjzabel opened #175 "Research Go IRC Library"
Before we can develop out the IRC bot, we need to settle on an IRC library to use. Some options:

* [fluffle/goirc](https://github.com/fluffle/goirc)
* [thoj/go-ircevent](https://github.com/thoj/go-ircevent)
* [go-irc/irc](https://github.com/go-irc/irc)

[2019-09-15 19:30] Tjzabel opened #176 "Research Go Telegram Library"
Before we can build out the Telegram bot, we need to fully research the capabilities of the Go Telegram bot library. The best option seems to be the [go-telegram-bot-api](https://github.com/go-telegram-bot-api/telegram-bot-api), as it is still very active.

[2019-09-15 19:32] Tjzabel opened #177 "Implement Photo Sharing (a.k.a. Imgur library)"
In order to satisfy the photo-sharing requirement for Telegram => IRC photo sharing, we need to find a suitable hosting platform and Go library.

[2019-09-16 00:37] SLKTH commented on #172
To be precise, I'm not talking about a password for accessing an specific IRC channel but rather the whole server itself upon connecting.

I see the two as seperate things although the workings behind it might be the same.

Thanks for looking into this.

[2019-09-16 01:15] Tjzabel commented on #172
@SLKTH woops! Thanks for the clarification. While the two issues are in the same vein, they are clearly distinct.

This issue seems simple enough, but I expect this issue will sadly not be taken care of for the time being, as we have just started our next grouping of sprints. We are currently on a feature freeze as we [port TeleIRC to Go](https://github.com/RITlug/teleirc/issues/163). Feel free to

[2019-09-19 21:30] Tjzabel opened #178 "Determine which test suite to use"
Before we can truly continue with the Go rework, we need to determine which model of testing we should use.

@Zedjones has offered some examples of how we should move forward with this

[2019-09-19 23:42] Zedjones commented on #178
There are quite a few options in the testing space for Golang. For example, here are some possible combinations:

[Testify](https://github.com/stretchr/testify) is a pretty good standalone solution, used in combination with the `testing` package from the standard library.

[Goblin](https://github.com/franela/goblin) combined with [gomock](https://github.com/golang/mock) is another good solution, e

[2019-09-21 19:45] jwflory commented on #175
Here are [my notes](https://docs.google.com/document/d/1O0dQJofo4b_7CpRhm4HH1XKxA7bWcEuYeurgSM5z4AA/edit?usp=sharing) on the existing Go IRC libraries. I looked at five different libraries and narrowed it down to two, suggesting [lrstanley/girc](https://github.com/lrstanley/girc) as our choice.

[2019-09-21 20:05] jwflory commented on #175
We agreed on `girc` for the IRC library in our developer meeting. Closing as complete. :clapper:

[2019-09-21 20:05] #175 closed

[2019-09-21 20:54] Tjzabel commented on #176
We have decided to go with the `go-telegram-bot-api` as our Telegram library of choice. Matterbridge also uses this library, as a notable mention.

[2019-09-21 20:54] #176 closed

[2019-09-21 20:55] Tjzabel commented on #178
We have decided to go with Testify for the moment!

[2019-09-21 20:55] #178 closed

[2019-09-21 20:56] Tjzabel commented on #163
@jwflory what do we want to do with this issue? Do we want to keep this open forever, as a pinned issue until we have completed development?

[2019-09-22 15:18] Tjzabel commented on #174
Completed via f00b3a58b72fa878230c6e4bb3ab01156cee2df2

[2019-09-22 15:18] #174 closed

[2019-09-22 18:20] Zedjones opened #182 "Fix Go module bug introduced in #174"
Since I was developing in my $GOPATH, I didn't realize that the module was set up incorrectly. Specifically, I was importing `"github.com/caarlos0/env"` instead of `"github.com/caarlos0/env"`. Also, `godotenv` was not automatically included in the `go.mod`.

[2019-09-22 21:34] Tjzabel commented on #182
Fixed via 1717c1fc42afb12f1d8687b6d5e0aa4dc6dfb349

[2019-09-22 21:34] #182 closed

[2019-09-23 06:55] jwflory commented on #164
@Tjzabel Thanks for jumping on this!

[2019-09-24 05:24] HolmesSherlock commented on #172
Will stay tuned for the server password support!

[2019-09-24 05:43] HolmesSherlock commented on #172
[This](https://node-irc.readthedocs.org/en/latest/API.html#client) might be relevant.

[2019-09-25 16:21] Tjzabel opened #185 "Determine Hacktoberfest Viability"
With [Hacktoberfest](https://hacktoberfest.digitalocean.com/) right around the corner, we should have a discussion about whether or not we want to create issues labeled with "Hacktoberfest" for newcomers during the month of October.

[2019-09-26 18:01] Tjzabel commented on #172
@SLKTH PR #186 should cover this issue.

[2019-09-26 20:22] Tjzabel opened #189 "Create initial IRC bot using Config Settings"

[2019-09-26 20:22] Tjzabel opened #190 "Create initial Telegram bot using Config Settings"

[2019-09-26 20:25] Tjzabel opened #191 "Add unit tests to validate main TeleIRC bot"
At this point, we need to start creating unit tests for config parsing (if needed), and the main TeleIRC file.

[2019-09-26 20:26] Tjzabel opened #192 "Determine new documentation platform"
Our current documentation at docs.teleirc.com uses Python in order to generate readthedocs.

With our port to Go, it would make more sense to use an option that is Go friendly. This would enable us to remove our Python dependency.

[2019-09-26 20:30] Tjzabel opened #193 "Create new TeleIRC Go Dockerfile"

[2019-09-26 20:32] Tjzabel opened #194 "Determine new developer workflow"
## Things we need to determine
* How developers build and test TeleIRC
  * Should we create a custom IRC and Telegram group for testing purposes?
* Should local deployment be done via Docker/Docker compose/minishift/bare metal?

[2019-09-26 20:37] Tjzabel opened #195 "Create basic Photo Handler"
We need a way to share images sent on Telegram to IRC.

[2019-09-26 20:37] Tjzabel commented on #195
Currently blocked on #177 until we can determine which Imgur library to use.

[2019-09-26 20:42] Tjzabel opened #196 "Determine new CI platform"
Before we build out the new CI for TeleIRC Go, we need to decide on a CI platform. Some options:
* TravisCI (current)
* ~DroneCI~
  * Good, but requires hosted runners
* GitHub Actions
  * Native to GitHub (we have beta access!)
* [GolangCI](https://golangci.com/)
  * Used with podman

[2019-09-30 01:26] #172 closed

[2019-09-30 01:32] Tjzabel commented on #129
Added via 1f4039a9a259e9fc384063b0effa47099a57a425

Let me know if there are any further issues!

[2019-09-30 01:32] #129 closed

[2019-09-30 01:50] Tjzabel commented on #172
@SLKTH TeleIRC v1.3.3 has been released to support channel keys and server passwords.

Please let me know if the latest release doesn't fix your issues!

[2019-10-01 00:20] Zedjones commented on #189
For this task, I made the following changes:
- Wrote a function to create a new client, which contains a girc client and our IRCSettings
- Wrote a method implementation on this client to adds a global handler and a handler when the client is connected to join the specified channel
- Wrote a method implementation on this client to start the bot, which currently calls the function to add handlers an

[2019-10-04 02:19] xforever1313 commented on #196
I've had good luck with AppVeyor for my projects.  It *looks* like they support go: https://www.appveyor.com/docs/lang/go/

[2019-10-04 18:15] Tjzabel commented on #196
@xforever1313 hm, thanks for the recommendation :+1:

[2019-10-05 19:09] Tjzabel commented on #167
This was done!

[2019-10-05 19:09] #167 closed

[2019-10-05 22:37] Tjzabel opened #198 "Research Unified Telegram/IRC Event Format"
Both IRC and Telegram need to know the event format of the other bridge.

We should create a unified interface/struct for each side to use, so the other side knows what type of event is being sent over the bridge.

[2019-10-05 22:39] Tjzabel opened #199 "Build concurrency into the initialization of the IRC bot"
As it stands right now, after calling `irc.StartBot()`, nothing will run afterwards, as it is an ongoing function call. We need to fix this so it utilizes something like channels, so we can continue onto the next function call while it is running.

[2019-10-05 22:40] Tjzabel commented on #173
done!

[2019-10-05 22:40] #173 closed

[2019-10-05 22:40] Tjzabel commented on #189
done!

[2019-10-05 22:40] #189 closed

[2019-10-06 22:42] Zedjones commented on #199
In addition to adding concurrency to the bot (the StartBot function now utilizes a channel), I also added a basic function to send a string message to the channel.

[2019-10-07 18:00] MonkeyDo opened #201 "Feature request: filter messages starting with a prefix"
An IRC channel I use for work has a bot set up to log all messages except the ones starting with a specific prefix (`[off]`), for privacy concerns.

Currently, that is stopping us from using TeleIRC, as we don't want those messages logged elsewhere.

A feature to filter outgoing messages that start with a prefix would be greatly appreciated (hopefully not just for our use-case) and fairly easy to

[2019-10-18 01:15] Tjzabel opened #202 "[go-port] Issues connecting to IRC without NickServ"
When attempting to run TeleIRC, I receive an error as follows:
[code]

When not using NickServ authentication (should be the base case), the IRC library is throwing an error expecting additional parameters. We need to figure out why this is happening

[2019-10-18 17:52] Tjzabel commented on #202
So I found the issue I was having here. The new way we are parsing the config file (`.env`) marks any `#` symbol as a comment, unless between quotations.

[2019-10-18 17:52] #202 closed

[2019-10-18 20:42] Tjzabel commented on #199
Complete via #200

[2019-10-18 20:42] #199 closed

[2019-10-18 22:11] Tjzabel commented on #185
After looking at our current development goals and pace, we don't believe TeleIRC is a good fit for small external Hacktoberfest contributions :frowning_face:

[2019-10-18 22:11] #185 closed

[2019-10-18 22:12] Tjzabel commented on #198
I think this is something we have sufficiently researched.

This issue will be ongoing from now on, but I feel this is safe to close out.

[2019-10-23 00:51] Tjzabel commented on #177
Hmmm... @jwflory thanks for looking into this :+1:

Given the state of the Go imgur libraries, it may be worthwhile to fork the `koffeinsource/go-imgur` library under RITlug and maybe add the things we need there. Otherwise, we could implement a `go-imgur` library ourselves. Regardless of which option we choose, I think implementing imgur photo uploading will be pushed to the end of our task queue

[2019-10-23 18:02] jwflory commented on #177
+1. We can revisit this piece in a future sprint.

There are surely others. We could look into what Matterbridge uses for images across bridges for ideas.

[2019-10-23 18:03] jwflory commented on #198
@Tjzabel Could you please leave a summary of any research / notes you have in this issue?

[2019-10-23 20:03] Tjzabel commented on #198
(This shouldn't have been closed, why'd I gotta go and do that)

@jwflory I haven't actually looked into this issue sufficiently. Me and @Zedjones did some whiteboarding on how we can integrate IRC and Telegram several weeks ago, but I don't think we ended up writing in stone how to do that.

Now that we have the base IRC and Telegram bridges set up to receive new messages, we can now go ahead and

[2019-10-23 20:05] Tjzabel commented on #177
So with that being said, and the initial Imgur research has been completed, do we want to move this issue to the backlog for now?

[2019-10-29 14:35] Tjzabel commented on #191
This is an ongoing effort.

We are still deciding on the best way to lay out our Go code for the most effective testing. This requires us to lay out our explicit function dependencies, and making sure we either move function dependencies to interfaces, or into the parameters.

[2019-10-29 14:36] Tjzabel commented on #198
@Zedjones whenever you have the time, I would appreciate if you could do a little writeup on what your thoughts are with passing events between the bridge, since you seem to have a better mental handle on the specifics than I do.

[2019-10-29 14:53] Tjzabel commented on #177
Moving to backlog now that we have research complete.

[2019-10-29 14:57] Tjzabel commented on #192
@jwflory Do you feel this is something you can research this week by our next meeting? This issue is set for our next sprint, but we don't have anything besides the testing that's in slate for this week.

[2019-10-30 14:36] jwflory commented on #192
@Tjzabel Unfortunately I need to push for more time on this one. My senior capstone project is due in two weeks, so most of my development time is going there. This issue needs more time to research and see if the [Sphinx + Go integrations](https://github.com/readthedocs/sphinx-autoapi) are all they are cracked up to be.

[2019-10-30 15:55] Tjzabel commented on #192
Sure thing :+1:

[2019-10-30 21:29] jwflory commented on #198
This is probably a good issue to review in our next dev meeting this Saturday.

[2019-11-02 18:42] Tjzabel opened #205 "Create initial message handlers"
## Deliverables
* General Handler interface
* Function implementing said interface
[code]

### Create For
- [x] Telegram
- [X] IRC

## Blocking issues

The following issues block closing this issue. Once all issues below are closed, this issue may be closed.

- [x] #212

[2019-11-02 18:43] Tjzabel opened #206 "Create Join/Part Handlers"
TeleIRC needs to be able to monitor when users join and leave a channel or group, and send that message over to the other platform. This specific issue

- [x] Create handlers to monitor joining/parting messages on Telegram

[2019-11-02 19:43] jwflory opened #207 "Document a standard TeleIRC Go function design"
# Summary

From the discussions around testing, document the TeleIRC best practices for creating functions so they can be easily tested later

# Background

For our developer documentation, it would be useful to publish a few of our thoughts / notes on writing good functions that can be easily tested later. This will make it easier for us to adhere to a more standard style of programming and help

[2019-11-02 19:45] jwflory opened #208 "Support Markdown file type in documentations"
# Summary

Support Markdown file types in our Sphinx documentation

# Background

Markdown is more familiar and more common to more people. Our docs should support ReStructuredText (as they do now) along with Markdown. It's more convenient for more people and encourages people to write the docs.

# Details

This involves a config change to Sphinx settings. I will make a PR soon to make these chang

[2019-11-03 02:29] Tjzabel opened #210 "Determine if unit tests require functions to have explicit dependencies"
We need to make sure all Go functions we create follow the standard of keeping all external dependencies referenceable from the function signature.

This will give us an easier time writing unit tests, where we can more effectively mock objects going into our functions.

[2019-11-03 02:30] Tjzabel commented on #210
This may also require us to create interfaces to support this new design layout.

[2019-11-03 03:09] Tjzabel commented on #198
Here is the outcome of our discussions on how to best create the unfiied structure:
[code]

[2019-11-03 03:12] Tjzabel opened #211 "Implement Unified Message Handling"
With the basic implementations of the Telegram and IRC message handlers roughly done, we now need to implement the bridging.

[2019-11-03 03:12] Tjzabel opened #212 "Implement Unified Message Handling between IRC and Telegram"
Here is the outcome of our discussions on how to best create the unfiied structure:
[code]

_Originally posted by @Tjzabel in https://github.com/RITlug/teleirc/issues/198#issuecomment-549101020_

[2019-11-03 03:13] Tjzabel commented on #211
Created updated issue with previous history in #212

[2019-11-03 03:13] #211 closed

[2019-11-03 03:14] Tjzabel commented on #198
Research is done. Continuing issue progress in #212

[2019-11-03 03:14] #198 closed

[2019-11-03 03:54] Tjzabel commented on #190
Complete via 6d1230bd81defc5ef98fd3ce3097ae01784bd2ec :tada: :tada:

[2019-11-03 03:54] #190 closed

[2019-11-03 04:03] Tjzabel opened #213 "Implement Go logging"
# Summary

Implement a standard way to log system and chat messages in TeleIRC

# Background

Instead of writing `fmt.Println` statements when we want to redirect output to `stdout`, we should implement Go's `log` package. This will give us much more fine tuned functionality for logging, and will also allow the user to specify whether or not they wish to see more verbose output.

# Details

All lo

[2019-11-03 21:45] jwflory commented on #212
@Tjzabel Are you targeting this issue for the current sprint or a next sprint? Please update this card on the project board when you have a chance. Thanks!

[2019-11-03 23:38] #208 closed

[2019-11-03 23:42] Tjzabel commented on #207
@jwflory Hmm... Where would the best place to post these docs be?

[2019-11-03 23:48] jwflory commented on #207
@Tjzabel I was thinking we start a category of "Developer docs" at a new directory at `docs/dev/`. The actual content could take any format that makes sense to us.

Sometimes for smaller projects, I like to write a collection of short howto-style articles until patterns or groupings emerge in the docs over time. For example, you could create `docs/dev/howto-write-functions.md` and explain the reco

[2019-11-04 03:25] Tjzabel commented on #207
@jwflory makes sense! I'll add some docs there :+1:

[2019-11-04 11:34] jwflory commented on #194
Running a unit test suite should be enough as a minimum requirement for testing local changes.

No. The TeleIRC dev chat is intended to be used for experimental purposes. We can instruct someone how to test locally in an existing IRC channel and group if they want to verify their changes. If we want to test a PR, we should update the git branch of the TeleIRC dev chat for experimenting.

Personall

[2019-11-04 11:36] jwflory commented on #196
I'm curious, what was the problem case for this issue? Is there a specific reason or motivation to switch off of Travis CI?

[2019-11-04 11:46] jwflory commented on #192
I still want to pursue using Sphinx if possible. The ReadTheDocs.org team created a [sphinx-autoapi](https://github.com/readthedocs/sphinx-autoapi) extension. This extension supports Go by parsing it with the [godocjson](https://github.com/readthedocs/godocjson) tool (also maintained by ReadTheDocs.org team). It looks like about [131 GitHub projects](https://github.com/readthedocs/sphinx-autoapi/n

[2019-11-04 13:04] Tjzabel commented on #196
With the switch to Go, I thought it might make sense to explore alternative CI platforms. There's honestly no pure reason, so I am going to close this issue :+1:

[2019-11-04 13:04] #196 closed

[2019-11-04 13:13] Tjzabel commented on #194
I agree with the above. This is another issue I think would fit well in the `docs/dev/` directory as a small subset of documentation.

[2019-11-04 13:24] jwflory commented on #194
Do you mean like a "Project workflow" doc?

[2019-11-04 14:00] Tjzabel commented on #194
I think since we already have the high level docs in the CONTRIBUTING.md, and the results of this issue (from what you said above) are roughly what we have documented, this issue may be safe to close.

I *was* thinking of a "project workflow" doc of some sort, but since we already have the contributing guidelines, I'm not sure it's necessary to have. What are your thoughts?

[2019-11-04 19:50] jwflory commented on #194
@Tjzabel I think an underlying problem is we publish two different docs in two different places (Sphinx and CONTRIBUTING.md); consolidating our contributing guidelines into the same place as our actual docs should make the process of contributing (and what that looks like) clear. I could take this action item on to consolidate our docs.

[2019-11-04 22:05] #194 closed

[2019-11-04 22:16] jwflory commented on #206
@Tjzabel If you have a chance to expand this issue, please update the original comment with more info on what this ticket's success criteria look like. :slightly_smiling_face:

[2019-11-05 15:12] Tjzabel commented on #206
@jwflory honestly, it's literally that, but I can update the comment to say "create for IRC and Telegram" :sweat_smile:

[2019-11-05 15:28] Tjzabel opened #219 "Determine how TeleIRC starts from environment variables"
# Summary

We can potentially simplify our `LoadConfig` error handling.

# Background

**Is your improvement related to a problem? Please describe**:

WIthin our `LoadConfig` function, the `godotenv.Load` function takes care of error handling, and so therefore we can remove all of our error handling from our end. However, this can only be done if we do not wish to use only environment variables (n

[2019-11-09 14:51] jwflory commented on #219
I think we need to understand the use case better and start with more research. Why would we want to pull in config settings as environment variables instead of the `.env` file? If I wanted to deploy TeleIRC as a container to an existing OpenShift environment, what is the best way for me to do that? The answers to these questions should motivate our decision.

[2019-11-11 14:53] jwflory opened #221 "Create state diagram for messages"
# Summary

Create a state diagram of how messages should be passed through TeleIRC

# Background

**Is your feature request related to a problem? Please describe**:
We are working on handler implementation and starting to think about how to cleanly structure the application. This is a complex problem and requires us to use some forethought to predict future challenges and use cases of the redesign

[2019-11-11 14:57] jwflory commented on #163
@Tjzabel I think it is okay to keep this issue open as a pinned issue. In the future, we could work towards putting meeting minutes / notes in this issue to track our progress over time. This doesn't need to be on our project board though since it is persistent over time.

[2019-12-11 19:25] Tjzabel opened #224 "Allow toggle for ZWP for Telegram usernames sent to IRC"
# Summary

Some platforms treat zero-width spaces as a normal space. It would be nice to support a toggle for such platforms.

# Background

**Is your improvement related to a problem? Please describe**:

When bridging TeleIRC across platforms that already have bridges set in place, sometimes the ZWP can be treated as a regular space, which is annoying to users.

**Describe the solution you'd like

[2019-12-12 00:27] jwflory commented on #224
It seems like this is from specific behavior you noticed. Since there are only two platforms (IRC and Telegram), I assume you mean Telegram?

[2019-12-12 00:37] Tjzabel commented on #224
@jwflory I'm referring to external platforms that are being bridged to either IRC or Telegram.

In one case, someone was bridging their IRC channel to a Minecraft server, which displays all ZWP's coming from the IRC chat. We want to make a toggle so users in these cases are able to see messages fine.

[2019-12-13 17:11] #221 closed

[2019-12-19 15:52] Zedjones commented on #219
Totally late to this conversation, but one reason would be using something like Docker Compose. With Compose, you can provide a .env file as an option and everything inside will be loaded into environment variables within the container. Otherwise, you'd have to copy a .env file into the container beforehand.

[2019-12-27 06:07] JoshuaMulliken opened #226 "Link to "Who uses TeleIRC" is broken"
# Summary

The Link to "Who uses TeleIRC" is broken. It 404s

# Standard debugging steps

## How to reproduce?

## Expected behavior

You should be able to go to Who uses TeleIRC

**Screenshots**:

## Stacktrace

[code]

# Other details

I've created a pull request: https://github.com/RITlug/teleirc/pull/225

[2019-12-29 19:26] thenaterhood commented on #226
Resolved by #225. Thanks for your help! :)

[2019-12-29 19:26] #226 closed

[2020-01-01 07:53] cintiadr opened #228 "Deploy docker images to dockerhub"
# Summary
Firstly, thanks so much for the tool.

You already provide the [dockerfiles](https://github.com/RITlug/teleirc/tree/master/images), I was wondering if you'd consider also deploying the images to dockerhub as part of your release.

# Background

**Is your improvement related to a problem? Please describe**:
Right now, in order to use your docker image, I have to clone your repo, build the

[2020-01-08 17:41] jwflory commented on #228
@cintiadr Thanks for opening this issue. While the Dockerfiles do work, they will be rewritten as part of the v2.0 release detailed in #163. Once we release v2.0, this is something I am happy to do unless @Tjzabel or @Zedjones have a strong preference for it.

For now, I am keeping this on our v2.0 backlog. Thanks! :+1:

[2020-01-08 17:49] jwflory commented on #224
This is a late follow-up, but… given there are other tools like Matterbridge that exist for complex bridging situations, like a Minecraft server, I think we should defer users to those tools if going beyond IRC and Telegram is important. When we decided on the v2.0 release, we wanted to prioritize the things that make our TeleIRC project unique: fast, lean, lightweight, and working.

While a confi

[2020-01-08 19:07] jwflory commented on #212
No new updates over break. This issue is a focus of the next sprint.

The Telegram side is somewhat more complicated because of third-party library. @Tjzabel is researching how sending is done on Telegram to higher level of abstraction, so we can send any text object across the bridge.

## Closing criteria

- [ ] Send simple text message from one platform to the other

---

Related to #210.

[2020-01-08 19:09] jwflory commented on #210
## Why do this?

Easier to mock and instantiate in tests, as dependencies are passed in method signatures.

## Closing criteria

IRC code needs to be refactored to follow this design convention. Future code should be written with this design convention in mind.

- [ ] @Zedjones Refactor IRC code to have explicit dependencies
- [ ] @jwflory Add design convention for dependencies into docs (once we

[2020-01-08 19:10] jwflory commented on #191
@Tjzabel will follow up in this issue.

Some code excerpts related to what we discussed on the developer call today:

https://github.com/RITlug/teleirc/blob/ddd980ac4ade0e75b044f9f1ce6e389d34cff173/internal/handlers/telegram/telegram_test.go#L11-L19

https://github.com/RITlug/teleirc/blob/ddd980ac4ade0e75b044f9f1ce6e389d34cff173/internal/handlers/irc/irc_test.go#L28-L29

[2020-01-08 19:12] jwflory commented on #98
Given the discussion today about unit tests and how old this issue is, I am closing this issue as out-of-scope. Our current discussions about testing and CI should cover this, especially with how the upstream Golang libraries handle config parsing.

[2020-01-08 19:12] #98 closed

[2020-01-09 00:29] Zedjones commented on #205
So I think doing something like this
[code]
would make a lot more sense, instead of having a wrapping type/interface

[2020-01-09 15:39] Zedjones opened #231 "Update IRC Config to contain new field (IRC_CHANNEL_KEY)"
We need to add this field and add support for connecting with a channel key so that we have feature parity with the master branch :)

[2020-01-18 21:11] jwflory opened #233 "Update Message State Diagram for girc library"
# Summary

Update [Message State Diagram](https://docs.teleirc.com/en/latest/dev/message-state-diagram/) to reflect recent development changes

# Background

@Zedjones mentioned on the development call that the IRC part of our state diagram is somewhat out-of-date because of how we interact with the `girc` library. It would be helpful to update the state diagram based on how things are currently w

[2020-01-23 04:47] Tjzabel commented on #224
@jwflory I'm wondering (for the `go-port`), if we should *not* use a ZWP?

I think we need to write up a pros/cons list on the benefits of the ZWP addition, before we can move forward with deciding to toggle this option or not.

[2020-01-23 04:51] Tjzabel commented on #191
Since we have decided that the main `teleirc.go` file is nothing but a shell calling other functions/files we've written (where all the testing would actually be), I am okay with marking this issue as closed.

The comment above falls in line with the external dependencies issue, and I don't believe is directly related to writing unit tests for the main TeleIRC entrypoint.

[2020-01-23 04:51] #191 closed

[2020-01-25 20:20] Zedjones commented on #233
So the only difference on the IRC side is that there is no "message object". Rather, handlers for each event type are registered with girc itself, and then girc handles the logic of choosing which handler to dispatch the event to.

[2020-01-26 05:29] Tjzabel opened #236 "Research Go Testing"
Now that we are reaching the horizon of TeleIRC handler development, we need to focus on how exactly we are going to implement unit tests. We cannot move forward without having clear testing guidelines set in place.

We need to research/document:
* Which method of testing works best with TeleIRC
* What/when we need to test

## Goals
- [ ] Create a testing FAQ page in the dev docs

[2020-01-26 05:33] Tjzabel commented on #210
I renamed this issue to fall more in-line with our next testing sprint. The goal of having explicit dependencies within function signatures was to allow for better ease of testing. We need to determine if this is, in fact, an architecture design we need.

[2020-01-30 16:37] Tjzabel opened #237 "Look at easier ways to find the TELEGRAM_CHAT_ID"
# Summary

There have been several occasions where members have asked for more clarification on how to find their Chat ID. We should look into whether or not there are easier options out there for finding this information.

# Background

**Is your improvement related to a problem? Please describe**:

Finding the Telegram Chat ID can be a slightly complicated process for those who are not necessari

[2020-01-30 18:27] Tjzabel commented on #237
Other bot options:

* `@RawDataBot`
* `@getidsbo`

[2020-01-31 21:13] Tjzabel opened #238 "Create Update Handler"
## Summary

In order to correctly assign Telegram Updates to their corresponding handlers, we need a top-level `updateHandler` to figure out what type of TG update is coming through, and properly hand off the update to the correct handler.

## Telegram Update Handler Overview

1. Receive an [Update](https://github.com/go-telegram-bot-api/telegram-bot-api/blob/master/types.go#L29)
2. Parse the [Mes

[2020-02-02 22:17] Tjzabel commented on #210
I am going to close this issue in favor of #236

This issue has been an ongoing discussion for quite a while, and we are not quite sure if this is even necessary to implement. The research we discover from our current testing sprint will determine our project layout.

[2020-02-02 22:17] #210 closed

[2020-02-02 22:18] Tjzabel commented on #212
We now have a complete TeleIRC bridge working in Go :tada: :tada:

[2020-02-02 22:18] #212 closed

[2020-02-09 11:43] pragmatic-strain opened #241 "[Security] Telegram Bot Hash Leak"
# Summary

Data (bot hash) leak at IRC channel.

Example:
[code]
(Note: The above example of a bot hash was replaced and is no longer valid.)

## How to reproduce?

1. set `IRC_SEND_DOCUMENT=true` at `.env`
2. run teleirc
3. send video/mp4 to telegram group
4. See how teleirc leaks the Telegram bot hash to the irc channel

## Expected behavior

Should not leak bot hash under any circumstances. Ple

[2020-02-09 16:38] Tjzabel commented on #241
First off, thanks for the issue :+1:

## Background
This is actually an issue with the [Telegram Bot API](https://core.telegram.org/bots/api) itself.
We (TeleIRC) disable sending over documents by default. You can see more history [here](https://github.com/RITlug/teleirc/issues/115).

## Potential Options
There are a few options I can think of:
1. Completely disable sending over documents
2. Look

[2020-02-15 20:13] jwflory commented on #205
#240 was merged. It closes this issue. :clapper:

[2020-02-15 20:13] #205 closed

[2020-02-15 20:16] Tjzabel commented on #236
@Zedjones is going to update this issue with a couple testing frameworks that may work well with TeleIRC. We will then decide on the best option, and move forward with that.

[2020-02-15 20:39] kennedy commented on #241
Not sure if this is helpful, but I found the API doc for uploading and downloading files for telegram: https://core.telegram.org/api/files

[2020-02-15 20:40] jwflory opened #242 "Research intermediary file hosting service"
# Summary

When a Telegram user sends a document file, upload it to an intermediary file hosting service to avoid leaking API key

# Background

**Is your feature request related to a problem? Please describe**:

In v1.x.x, there is an option (disabled by default) to support sending documents from Telegram to IRC. As noted in #241, this leaks the Telegram bot API key. For the v2.x.x rewrite, we sh

[2020-02-15 20:45] jwflory commented on #241
Hi @pragmatic-strain, thanks for opening this. We won't address this for the v1.x.x release, but I opened a new issue (#242) for figuring out a better way to handle this in the v2.x.x release. I'm going to close this issue and we can keep up the discussion in #242.

Thanks @kennedy, I edited this into the new issue! :+1:

[2020-02-15 20:45] #241 closed

[2020-02-15 20:51] jwflory commented on #213
_Discussed in [2020-02-15 developer meeting](https://bluejeans.com/s/CQWYN/)._

---

@10eMyrT and @kennedy are leading research on this issue. The deliverable is a comment on this GitHub issue that addresses the key areas explained in the _Details_ section of the original comment. Once the research is shared on this issue, we can close it and refer back to it as needed when writing the rest of the

[2020-02-15 20:54] jwflory commented on #233
_Discussed in [2020-02-15 developer meeting](https://bluejeans.com/s/CQWYN/)._

---

I'm working on it today. PR coming soon.

[2020-02-15 20:59] jwflory commented on #224
@Tjzabel Are there any alternatives other than the ZWP character? Also, we could implement this only for messages sent from Telegram to IRC, and not vice-versa. Telegram doesn't have the issue that IRC does with double-pinging.

[2020-02-16 14:13] jwflory commented on #162
Provided the conversations we have had in our developer meetings and the on-going discussion in #213, I think it is acceptable to close this issue as `wontfix`. Using `stdout` is sufficient based on our supported deployment method of containers. It makes sense to use other tools to obtain the logs from the container itself.

Closing. :clapper:

[2020-02-16 14:13] #162 closed

[2020-02-16 14:17] jwflory commented on #76
Since we are starting from scratch for the Go v2.x.x rewrite (#163), this will fit into our existing discussions about writing tests (#236). Closing this issue as `wontfix` since we are not planning to support the v1.x.x versions once the rewrite is complete.

[2020-02-16 14:17] #76 closed

[2020-02-16 14:19] jwflory commented on #64
Since we are in the middle of rewriting the codebase (#163) and already have some issues open to discuss code style and best practices (#73, #207), I'm going to close this issue as `wontfix` for the time being. Once we ship the v2.0.0 release and figure out what tools we can use for code health, we can open a new issue to discuss this later.

Closing. :clapper:

[2020-02-16 14:19] #64 closed

[2020-02-16 14:21] jwflory commented on #207
After reviewing older issues, I think this is actually a duplicate of #73. Function design is important, but I think it is one part of a bigger discussion around code style. Also as @thenaterhood noted, defining a code style guide would allow us to set up automated linting in our CI farther down the line.

Closing as `duplicate`, let's move discussion over to #73. :clapper:

[2020-02-16 14:21] #207 closed

[2020-02-16 14:25] jwflory commented on #242
Well, would you look at that? We already have an issue open for this: #159. :sweat_smile: Closing this one as a duplicate, let's use the older issue for discussing and tracking this.

[2020-02-16 14:25] #242 closed

[2020-02-16 17:40] Tjzabel commented on #224
@jwflory I almost want to say we should either only include the ZWP from Telegram => IRC, or just not include it at all.

[2020-02-16 18:52] jwflory commented on #224
@Tjzabel I prefer the first option. :wink:

[2020-02-18 04:19] kennedy commented on #213
I found a great article in creating a custom logger with the standard ```log``` package and ```*log.logger``` type: https://www.ardanlabs.com/blog/2013/11/using-log-package-in-go.html

The article suggest creating a ```*log.logger``` object for each log situation (info, debug, error, etc).

Subject I am unsure of how to handle logging through multiple goroutines/services.
   - Some suggest passing

[2020-02-18 19:29] Tjzabel commented on #213
@kennedy generally, I think it makes sense to have a logger instance within each of the `Client` structs.

[2020-02-19 21:11] jwflory commented on #213
If using a third-party logging framework, I suggest logrus. It looks like it has a more diverse community and more activity than glg. Plus, another popular Go project, Podman, uses it for its logs. I've used Podman for debugging and loved the way they do debug logging, but didn't realize it was logrus:

https://github.com/containers/libpod/blob/f2bcc9cc7dc8b1937f39db503db96651d84c3e3e/go.mod#L63

[2020-02-19 22:02] Tjzabel commented on #213
@jwflory I agree `logrus` is nice, and it seems to have a much larger community.

However, for the sake of TeleIRC and our goal of relying on as few 3rd party libraries as possible, I would _prefer_ to just use the standard `log` library. I think the real question is: Does it have all the features we need?

What are all your thoughts?

[2020-02-19 22:40] kennedy commented on #213
Perfect, that’s what I was leaning towards as well.

[2020-02-20 01:06] jwflory commented on #213
@Tjzabel I haven't done a thorough analysis, but my last comment could have been [shiny-object syndrome](https://personalexcellence.co/blog/shiny-object-syndrome/) :slightly_smiling_face: I also prefer to keep things simple, especially knowing that our biggest contributor group will likely be undergrad students, so long as the project is managed by RITlug. So, I'm in favor of simplicity over compl

[2020-02-22 20:10] #233 closed

[2020-02-22 20:41] jwflory opened #244 "Open new issues for more handlers"
As per the developer call today, we need more issues for handlers in the current sprint!

[2020-02-22 21:04] jwflory commented on #213
_Discussed in [2020-02-22 developer meeting](https://bluejeans.com/s/MLdJA/)._

---

In the call, we briefly discussed how we wanted to do logging. To keep things simple, and since our use case is simple, we will use the standard library in Go for logging. A new issue is coming soon to migrate our existing print statements over to the logging library.

Closing! :ocean:

[2020-02-22 21:04] #213 closed

[2020-02-22 21:05] jwflory commented on #213
Also thanks @kennedy for leading the research on this one! I still learned something from this discussion :slightly_smiling_face:

[2020-02-22 21:30] jwflory opened #245 "Migrate existing print statements to use Go logging library"
# Summary

Migrate existing print statements to use Go's standard library for logging

# Background

**Is your improvement related to a problem? Please describe**:

Currently the only logging we use in the Go port are print statements.

**Describe the solution you'd like**:

Per #213, we should use the Go standard library for logging. This will give us more flexibility in verbosity levels and form

[2020-02-22 21:36] jwflory commented on #236
I removed the documentation tag here because I think we can integrate actual documentation of this into #73.

[2020-02-23 21:32] Zedjones commented on #236
Okay, here we go:

# Testing in Go

## What is unit testing?

Unit testing is a type of testing where, as the name implies, we want to test an individual _unit_ of code.
In any given programming language, a _unit_ is the smallest piece of grouped code, usually a function.

In a unit test, we only want to test that this piece of code does its job. We don't care if any other piece of code does its j

[2020-02-23 23:17] kennedy commented on #245
The `log` package is thread safe (yay goroutines). I think behind the scenes `log` writes a string via `os.pipe` into an virtual file/iowriter [`os.Stderr`, by default](https://golang.org/pkg/os/#pkg-variables).
I made a test go project `randomLogDemo`, to see how log writes into `os.Stdout` and `os.Stderr`. We cant use `logger.Panicln` or `logger.Fataln` because it would terminate the process reg

[2020-02-24 22:00] Tjzabel commented on #245
@kennedy thanks for the super in-depth update :+1:

In terms of the different levels of logging, I think it would make sense for the command line argument to set the filter for what type of logging to output. The levels may be:
1. All (Info, Warning, Error)
2. Useful (Warning, Error)
3. Only what I need (Error)
4. I don't want any logs (Ignored)

Thoughts?

[2020-02-24 22:13] 10eMyrT commented on #245
@kennedy Thanks for the research! Looks neat.
@Tjzabel Allowing command line definition is good, and I would suggest having option 1 as default.

[2020-02-25 19:27] Tjzabel commented on #236
@Zedjones I just got some time to take a look at this. Oh man, that's a lot of information! A lot more than I was expecting :sweat_smile:

I am fully onboard with everything you've written, and is pretty straightforward to follow. Our closing criteria for this issue was to be able to have a deveoper doc written on our results. I am okay with using your writeup as our developer doc.

@jwflory have

[2020-02-25 20:04] Tjzabel opened #246 "Create Kick Handler"
# Summary

TeleIRC needs to be able to handle a user being kicked from the channel.

# Background

**Is your feature request related to a problem? Please describe**:

If I am a Telegram user, I won't know if a user has been kicked from IRC.

**Describe the solution you'd like**:

Telegram users should be able to see when someone is kicked from IRC.

**Describe alternatives you've considered**:

Al

[2020-02-26 17:40] Tjzabel opened #247 "Create Blacklist Handler"
# Summary

The main purpose of the [action handler](https://github.com/RITlug/teleirc/blob/master/lib/IrcHandlers/IrcActionHandler.js) as it pertains to the NodeJS version is to handle blacklisted usernames. We need to make sure blacklisted names are not able to send messages to the channel.

# Background

**Is your feature request related to a problem? Please describe**:

The TeleIRC Go port curr

[2020-02-26 17:42] Tjzabel commented on #244
### Update
At this point, I believe all IRC handlers now have issues associated with them.

Next step is to create issues for Telegram handlers.

[2020-02-26 21:35] Tjzabel opened #248 "Create Document Handler"
# Summary

TeleIRC v2.0 does not currently support sending documents from Telegram => IRC.

# Background

**Is your feature request related to a problem? Please describe**:

Documents are not currently picked up by TeleIRC, and IRC users are not notified when a Telegram user has uploaded a document.

**Describe the solution you'd like**:

A document handler needs to be written in order to handle d

[2020-02-26 22:09] Tjzabel opened #249 "Create Sticker Handler"
# Summary

TeleIRC v2.0 should handle Telegram stickers.

# Background

**Is your feature request related to a problem? Please describe**:

If a Telegram user sends a sticker over to the channel, IRC users will not be able to understand context.

**Describe the solution you'd like**:

IRC users should be able to see when Telegram users send stickers.

**Describe alternatives you've considered**:

[2020-02-27 01:22] #237 closed

[2020-02-27 01:37] Tjzabel commented on #244
I've created IRC + Telegram handler issues that should hold us for a bit. Once we have these initial handlers implemented, then we can start making the message handlers fancier, and adding the functionality we need.

Since all handlers now have issues associated with them, I feel this issue has met the closing criteria.

[2020-02-27 01:37] #244 closed

[2020-02-27 02:17] jwflory commented on #244
Thanks @Tjzabel! :+1:

[2020-02-27 20:57] jwflory commented on #123
Is this something we still want for v2.0.0? Does it make sense with the container use case (#193)?

[2020-02-27 20:59] jwflory commented on #113
@RITlug/teleirc-developers-commit-access Any thoughts on this from a v2.0.0 perspective?

[2020-02-27 21:04] jwflory commented on #195
Note #41: since we will likely write our own Imgur handler, we should do some sort of cache lookback if a photo message is edited. We shouldn't upload an image from an edited message twice; we should reuse the uploaded image if a user edits the photo caption.

[2020-02-27 21:06] jwflory commented on #41
We are rewriting the photo handler in Go for the v2.0.0 rewrite (#163). #195 is a new issue to discuss the photo handler and I left a comment with a note about not uploading the image twice.

Given we are re-architecting the photo handler for v2.0.0 anyways, I don't think we will back-port a fix for v1.x.x releases. I'm closing this issue as a duplicate and we can drive further discussion in #195.

[2020-02-27 21:17] Tjzabel commented on #113
@jwflory I think having feature parity with where we currently stand is good enough. What other specific IRC features are part of the closing criteria? If they don't take a lot of time to implement, I am okay with adding this to the v2.0 release

[2020-02-27 21:18] Tjzabel commented on #123
@jwflory From v2.0 onwards, I don't think we should support systemd services as a viable deployment option. Thoughts?

[2020-02-27 21:50] jwflory commented on #236
It was so awesome it went straight into our docs. #252.

[2020-02-29 21:21] Zedjones opened #253 "Add timeout to girc connect call"
# Summary

Currently, if `girc.Connect` is called and the server is reached but never responds, then the goroutine will just hang forever. Using `girc.DialerConnect` instead, we can add a custom dialer which includes a timeout when connecting to the server.

# Background

**Is your improvement related to a problem? Please describe**:
`girc.Connect` can currently hang forever

**Describe the soluti

[2020-03-01 00:37] jwflory commented on #123
@Tjzabel Given we are focused more intently on the container use case, I agree. I'm going to close this issue out in favor of focusing our time on #193. :clapper:

Thanks @thenaterhood for the suggestion anyways! If we were spending more time on v1.x.x, this would still be valid.

[2020-03-01 00:37] #123 closed

[2020-03-07 17:10] #236 closed

[2020-03-07 20:15] jwflory opened #255 "Docs: Add quotes for IRC channel to FAQ"
@Tjzabel had an issue where the IRC channel wasn't in quotes in the `env` file. It was interpreted as a comment. Might be a good thing to throw into our FAQ.

[2020-03-07 20:52] jwflory opened #256 "Add golint to Travis CI tests"
_Discussed in [2020-03-07 meeting](https://bluejeans.com/s/jQvmg/)._

---

# Summary

Add [golint](https://github.com/golang/lint) into our Travis CI jobs to require conformance to Go code style on new PRs

# Background

**Is your improvement related to a problem? Please describe**:

Go code needs to be formatted in a consistent way across our code base.

**Describe the solution you'd like**:

Gol

[2020-03-07 21:02] jwflory commented on #73
_Discussed in [2020-03-07 meeting](https://bluejeans.com/s/jQvmg/)._

---

For the v2.x.x release, this issue is not about linting (see #256). The code style code is a one-page doc that covers more semantics that are specific to our project. To track this, a list of those things is below:

- [ ] Naming conventions
- [ ] Patterns for writing new handlers
- [ ] Interfaces

[2020-03-07 23:58] Zedjones opened #258 "Add better error handling for config validation failures"
# Summary

Currently, we just cast the error returned from the validator into a `validator.ValidationErrors` type and then return that as the error. However, this is clearly marked by the library as not intended for production.

# Background

**Is your improvement related to a problem? Please describe**:
This improvement was inspired by @Tjzabel and others repeatedly accidentally setting the IRC c

[2020-03-08 18:15] #255 closed

[2020-03-09 19:27] jwflory commented on #231
For some reason, this wasn't automatically closed in #261. So… closing as it is now implemented. :clapper:

[2020-03-09 19:27] #231 closed

[2020-03-11 20:18] jwflory commented on #256
I'm not sure golint is what we want after all, at least for pass/fail criteria in CI builds. It's not recommended for this use case in the project README. But I did find this handy tool, so I'm going to experiment a bit with this and see how far I get:

https://github.com/golangci/golangci-lint

[2020-03-12 16:23] jwflory commented on #245
#254 from @10eMyrT was merged. Closing this issue as complete. :clapper:

[2020-03-12 16:23] #245 closed

[2020-03-12 16:56] jwflory commented on #258
#259 merged. Thanks for getting this @Zedjones! Closing as complete. :clapper:

[2020-03-12 16:56] #258 closed

[2020-03-12 21:59] jwflory commented on #219
Here's some of my notes from today:

* Reviewed [The Twelve-Factor App](https://12factor.net/)
  * See [_Config_](https://12factor.net/config)
  * See [_Processes_](https://12factor.net/processes)
* How is config data handled in containers and container orchestration?
  * Kubernetes has [ConfigMaps](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/)
  * Specifically

[2020-03-12 22:11] jwflory commented on #163
Hey @Tjzabel @Zedjones @kennedy @10eMyrT, how do we feel about cutting a `v1.0.0-pre1` release since basic bridging is functional? We are not at feature-parity with v1.x.x yet, but here's my thinking for cutting a release:

* Stop maintaining two branches of code (`master` and `go-port`)
* Default git branch becomes Go branch, which also makes our project publicly visible as Go and not Node (so we

[2020-03-14 20:56] jwflory commented on #206
_[Discussed in 2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

@Tjzabel moved this over from `in progress` back to the current sprint. He swapped priority to focus on #238 since it is blocking future handlers.

[2020-03-14 20:56] jwflory commented on #238
_[Discussed in 2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

This is currently in progress. @Tjzabel is on the case. :sunglasses:

[2020-03-14 20:58] jwflory commented on #253
_[Discussed in 2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

@10eMyrT is taking this on in the current sprint since #264 is blocked on #238. We figured this would be a good task to work on since the handlers need a little more time before we can full asynchronous on them.

[2020-03-14 21:00] jwflory commented on #192
_[Discussed in 2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

I'm tackling this as a research task for this sprint. My next few weeks will be pretty busy, so this was the best thing I felt I could work on and accomplish. Mostly going to see how our user docs and API docs will exist, and whether they will exist together or in separate tools/platforms!

[2020-03-14 21:01] jwflory commented on #219
_[Discussed in 2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

Closing criteria for this is whether OpenShift ConfigMaps can be created from `env` files. If yes, we don't need to make changes to our project and we can keep chugging along. If no, we'll need to consider other ways to accept env vars as config data.

I aim to close this research out in the next few days.

[2020-03-14 21:11] jwflory opened #265 "Create TeleIRC v2.0.0-pre1, merge go-port into master"
_Discussed in #163 and [2020-03-14 meeting](https://bluejeans.com/s/O5ssq/)._

---

# Summary

Cut our first pre-release of TeleIRC v2.0.0 and move back to using a single `master` branch for development

# Background

After many, many months of steady but solid work, we are nearing the first Minimum Viable Product (MVP) of TeleIRC v2.0.0. When we started planning last August in #163, we were loose

[2020-03-15 19:06] jwflory commented on #256
Implemented in #262. Closing as complete. :clapper:

[2020-03-15 19:06] #256 closed

[2020-03-15 19:09] Tjzabel commented on #265
@jwflory looks good! Is there a timeframe you think would work best for completing this work? How should the current PR be handled?

[2020-03-15 19:13] jwflory opened #266 "Fix unused vars and unchecked returns"
# Summary

Make CI tests pass again by fixing unused variables and unchecked returns

# Standard debugging steps

## How to reproduce?

Reproduced in our CI pipeline. See below:

https://travis-ci.org/github/RITlug/teleirc/jobs/662793390#L271

## Expected behavior

CI tests should pass.

## Stacktrace

[code]

[2020-03-15 19:17] jwflory commented on #265
@Tjzabel I would like to do this either at the halfway point or the end of this sprint, hopefully when all open PRs are cleared. I noticed there is an open security vulnerability in the Node version, and @dependabot is going to make an automatic version bump sometime soon:

https://github.com/RITlug/teleirc/network/alert/yarn.lock/minimist/open

So, once we patch that CVE and clear through the exi

[2020-03-17 14:34] jwflory opened #267 "Create Telegram Poll handler"
# Summary

Add a handler for Poll message objects sent from Telegram

# Background

**Is your feature request related to a problem? Please describe**:

Telegram users can create interactive polls to send in groups. When a poll is created and sent, nothing is sent over to IRC.

**Describe the solution you'd like**:

A TeleIRC v2.x.x version should handle [Telegram Polls](https://core.telegram.org/b

[2020-03-21 15:38] Zedjones commented on #265
I guess once we do this, we'll need to go through and look at the current issues we have open. That's the only thing I feel is really missing from this process, but otherwise things look good :+1:

[2020-03-21 16:43] jwflory commented on #265
@Zedjones For the most part, I've kept up pretty well on triaging older issues and/or closing them out in favor of newer ones. I've also been using [release milestones](https://github.com/RITlug/teleirc/milestones) to group our existing issues into things we want for the v2.0.0 release, and things we want for future v2.x.x releases.

[2020-03-21 18:58] jwflory commented on #192
Going to bump this to the next sprint. I'm going to push priority on #265 first before going forward on this so docs can be versioned and everything will be living on one branch.

[2020-03-21 19:23] Zedjones commented on #266
In regards to this error:
[code]
It's a bit more complicated than might be initially obvious. During the call on 3/21, we agree that it would be best to check `tg.api.Send` for the error, log it, and retry sending a few times before giving up.

[2020-03-21 19:43] Tjzabel opened #269 "Write unit tests for message handler"
# Summary

Unit tests do not currently exist for the message handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing the message handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test the message handler functionality.

**Describe the solution you'd like**:

Full set of unit tests for the message handler

[2020-03-21 19:44] jwflory commented on #249
Hey @kennedy! We were wondering if you had a chance to look into this one yet. Do you think it's something we can keep on this sprint, or do you want to bump it back? If you need more time because of everything happening now, that's totally fine!

[2020-03-21 19:47] Tjzabel opened #270 "Write unit tests for join/part/quit handlers"
# Summary

Unit tests do not currently exist for joining, parting, and quitting an IRC channel.

# Background

**Is your improvement related to a problem? Please describe**:

After writing these handlers, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test this functionality.

**Describe the solution you'd like**:

Full set of unit tests to catch as many e

[2020-03-21 19:49] Tjzabel opened #271 "Write unit tests for the connect handler"
# Summary

Unit tests do not currently exist for the connect handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing the connect handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test the connect handler functionality.

**Describe the solution you'd like**:

Full set of unit tests for the connect handler

[2020-03-21 19:50] Tjzabel opened #272 "Write unit tests for the message handler"
# Summary

Unit tests do not currently exist for the message handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing the message handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test the message handler functionality.

**Describe the solution you'd like**:

Full set of unit tests for the message handler

[2020-03-24 12:04] jwflory commented on #159
Someone popped into our developer chat and suggested Firefox Send as one possible option for this service. If it is possible to register an API key to send files through an API, this would be a nifty way of doing it. For example, maybe we could set files to expire after a week or a month, or offer that as a config option to the user.

Not sure if this is possible, but from a privacy point-of-view,

[2020-03-24 16:23] Tjzabel commented on #248
Done via #273

[2020-03-24 16:23] #248 closed

[2020-03-24 20:44] kennedy commented on #249
Hey I have not looked at this yet, I think I need to bump it back. I definitely need more time

[2020-03-25 17:10] jwflory commented on #249
@kennedy All good. I bumped this back to the next sprint. Thanks for updating us :+1: Hope everything is going well for you.

[2020-03-25 20:09] jwflory commented on #219
I have 90% confidence that it is possible to create OpenShift ConfigMaps from `env` files. Closing as complete, and I do not suggest changing our approach on how we handle configuration.

It is definitely possible in [OpenShift v3.2](https://docs.openshift.com/enterprise/3.2/dev_guide/configmaps.html#configmaps-creating-from-files), but the section in the documentation disappeared in v4 versions.

[2020-03-25 20:09] #219 closed

[2020-03-27 01:42] jwflory commented on #253
Fixed in #268. Closing! :clapper:

[2020-03-27 01:42] #253 closed

[2020-03-27 17:58] jwflory commented on #265
#277 was The Big Merge™. It happened. We now have a `v2.0.0-pre1` release:

https://github.com/RITlug/teleirc/releases/tag/v2.0.0-pre1

It's not production-ready yet, but we should be able to gradually work towards running this in our developer chat room soon. We can talk about that in our meeting tomorrow.

Closing this issue as done. :clapper:

[2020-03-27 17:58] #265 closed

[2020-03-27 18:02] Tjzabel opened #278 "Update documentation to reflect Go project"
Our [TeleIRC documentation](https://docs.teleirc.com) currently has mix-matched information between being a NodeJS and Go project. We need to change this to mirror our current status as a full Go project.

[2020-03-27 18:09] #266 closed

[2020-03-28 16:42] kennedy commented on #249
im experiencing a blocker, cant seem to be able to trancode messages from telegram into irc. The GetUpdatesChan function is returning empty.

[2020-03-28 20:09] kennedy opened #282 "Add LogDebug"
# Summary

LogInfo should be enabled regardless of debug level.

# Background

It is important for users to witness some kind of status when running teleirc, we should utilize LogInfo for these messages. We should create a new logging type, LogDebug, for message only for debugging.

**Describe the solution you'd like**:
Use LogInfo for general statuses. use LogDebug only if `-debug=true` flag has

[2020-03-28 20:26] kennedy commented on #249
... I figured it out. It was the privacy settings on the bot itself.

[2020-03-29 00:25] #249 closed

[2020-03-29 00:38] #282 closed

[2020-03-29 00:57] Tjzabel opened #286 "Write unit tests for the document handler"
# Summary

Unit tests do not currently exist for the Telegram document handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing this handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test this functionality.

**Describe the solution you'd like**:

Full set of unit tests to catch as many edge cases as we ca

[2020-03-29 00:59] Tjzabel opened #287 "Write unit tests for the sticker handler"
# Summary

Unit tests do not currently exist for the Telegram sticker handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing this handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test this functionality.

**Describe the solution you'd like**:

Full set of unit tests to catch as many edge cases as we can

[2020-03-29 01:45] #238 closed

[2020-03-29 01:55] #278 closed

[2020-03-29 17:51] #247 closed

[2020-03-29 17:56] Tjzabel opened #288 "Remove CodeClimate from README"
As we've officially merged the `go-port` branch into master, we no longer have a use for CodeClimate. We should remove CodeClimate from our README documentation, and remove any hooks CC has in TeleIRC.

[2020-03-29 17:59] Tjzabel commented on #163
@jwflory now that we've merged the `go-port` branch into master, what is the closing criteria fo r this issue? Do we want to keep this open until we've officially hit v2.0?

[2020-03-29 18:05] Tjzabel commented on #195
@jwflory as a reply to your comment, that will not require a cache lookback.

We could check to see if the TG Photo message contains an edit. If so, send a message with the updated caption. Something like:
[code]

[2020-03-29 18:06] Tjzabel commented on #195
Also, I think we can start work on implementing the basics of this issue similar to the document handler. Then, issue #177 can focus on making use of whichever hosting platform we choose.

[2020-03-30 16:45] jwflory commented on #163
@Tjzabel Good point. I think the usefulness of this issue has been served. We're obviously not "done" with the `go-port`, but between the [v2.0.0 milestone](https://github.com/RITlug/teleirc/milestone/8) and the individual issues we are using for more detailed discussions, I think we can close this issue out because we are past the point of discussing whether we want to do a Go port or not. We are

[2020-03-30 16:45] #163 closed

[2020-03-30 16:49] jwflory commented on #195
My only concern is if I sent a group of 3-4 pictures with different captions, and I edit one of them, it might not be clear which photo it is. Also, two photos could be sent in a chat, one from yesterday and one from ten minutes ago. If I edit the older one, it might appear that I edited the caption of the newer one when in fact I did not.

Sounds good in theory to me, so long as the handler imple

[2020-03-30 17:37] jwflory commented on #288
I think CodeClimate is still useful for us, but we need to get it set up for Go. I did an initial setup in #291. A further iteration on this can also include automatic test coverage reports, so we can always know what the percentage of code tested is in the project.

[2020-03-31 23:22] #288 closed

[2020-04-03 03:57] Tjzabel commented on #206
I've had a chance to work on this issue. AFAIK I will be able to put up a PR by the end of tomorrow (Friday). I am going to look into writing tests before I submit the PR.

[2020-04-03 04:25] Tjzabel commented on #195
@jwflory I put work into the base Telegram photo handler. It recognizes when a photo has been sent, and if IRC allows it, sends over the photo caption if there is one.

I think the issue with editing photo and document captions is a separate issue, since message edits encapsulate a lot more than just photos.

[2020-04-03 12:17] jwflory commented on #206
@Tjzabel Based on the edit, sounds like this ended up being an ambitious task. Do you think you will get a PR for this by our Saturday developer meeting?

[2020-04-03 12:55] jwflory commented on #195
Thanks for the update @Tjzabel. Should we assign this issue to you then?

Could you clarify what you mean if IRC allows it?

You're not wrong. However I think this is still specific to the photo handler though, since we are essentially tying three pieces of data together: a Telegram message ID, an Imgur URL, and a photo caption.

However I think the way to go here is to split this into a v2.0.0 an

[2020-04-03 15:09] Tjzabel commented on #195
@jwflory "If IRC allows it" meaning if we have a config option to allow sending photos to IRC, but iirc we removed that config option.

I suppose you can open #41 back up. An easy fix would be just sending the date alongside the updated caption, so users can at least match the date/time with the correct image. But, we can debate specific implementations within that issue.
[code]

[2020-04-09 15:43] aNullValue opened #297 "Documentation improvement re install/deploy"
this is a copypasta of pertinent parts of a conversation between myself and @Tjzabel and @jwflory .

i didn't know that "Read the Docs" had a version selector. in all of the years that i've used RTD, i'd not noticed it until @Tjzabel provided someone else a link to a specific-version document yesterday. realizing that was incredibly helpful.

but also, the "Quick Install" and "How to deploy TeleIR

[2020-04-09 16:25] jwflory commented on #297
@aNullValue Thanks for opening this issue! :+1:

My first thought is adding a list with links to versioned docs on the index page so it's more obvious to someone that we have versioned docs. I forget the dropdown menu in the corner is not obvious if you aren't familiar with RTD already.

Once our v2.0.0 deployment bits are ironed out in #193, I can work on this. Agreed on a point that came up in c

[2020-04-11 20:02] jwflory commented on #177
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

We estimate this task will take at minimum a full sprint, and at most two sprints. It is the most ambitious task left on our backlog. While we agreed to extend the v2.0.0 release deadline to 23 May, we agreed in the meeting that **this issue is not release-blocking**.

What does that mean? We aim to include this in the v2.0.

[2020-04-11 20:05] jwflory commented on #286
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

* Note username (and if a user does not have a username set)
* Handling captions and no captions
* Note difference between documents (anything uploaded) and photos (compressed images)
* Make sure documents work even if [optional data](https://github.com/go-telegram-bot-api/telegram-bot-api/blob/master/types.go#L330-L337) is

[2020-04-11 20:07] jwflory commented on #73
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

I updated the issue title to focus more on what this is. Since our CI pipeline already enforces things like `gofmt` and `golint`, style is not a huge concern for documentation. However, the "human" semantics of how we do things like in the [last post](https://github.com/RITlug/teleirc/issues/73#issuecomment-596137188) are be

[2020-04-11 20:10] jwflory commented on #192
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

I haven't had much time to spend on this, but I want to do it one of two ways:

1. Automatically publish API docs from `godoc` output in our Sphinx ReadTheDocs site
2. Publish `godoc` output on a different site, maybe GitHub Pages

Ideally we only have our docs published in one place and one place only. That's why I think Op

[2020-04-11 20:17] jwflory commented on #267
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

@10eMyrT asked if this handler should be part of v2.0.0. We decided to not include it for v2.0.0 officially, but if circumstances arise where all other issues are in progress and someone is looking for something they do, they could work on this. But the core development team doesn't plan to officially start this until 23 May

[2020-04-11 20:18] jwflory commented on #193
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

We moved this from the next sprint back to the backlog. This issue will likely get worked on starting in a May sprint.

[2020-04-11 20:18] jwflory commented on #228
_Discussed in [2020-04-11 meeting](https://bluejeans.com/s/RViMY)._

---

Marked as blocked on #193. Will revisit in a May 2020 sprint.

[2020-04-11 20:30] aNullValue commented on #224
I'm giving this a thumbs-up (and wish I could give it many more), because multiple of my users on IRC (not using platforms/bridges out from it) have complained about the existing behavior. Even I use an IRC client that displays the character as a regular space (weechat). I'm told that irssi does as well, but I haven't done any testing.

[2020-04-11 20:59] Tjzabel commented on #286
FWIW I created a helper function to aid in getting the correct username. This is very similar to how we did this in NodeJS:
https://github.com/RITlug/teleirc/blob/tg/join-part/internal/handlers/telegram/helpers.go

This specifically constructs a full username `test (@test)`. Use the `user.String()` method on any Telegram User object in order to derive the username if present, and first name otherw

[2020-04-13 16:07] jwflory commented on #192
I made some headway on this. Turns out, Sphinx AutoAPI [does support Go](https://sphinx-autoapi.readthedocs.io/en/latest/tutorials.html#go), but I couldn't get the Go bits working with Sphinx. I opened an issue upstream on readthedocs/sphinx-autoapi#196 to see if we can get to the bottom of this.

For now, I'm marking this issue as blocked because I want to see if this is possible with Sphinx Auto

[2020-04-17 22:53] #270 closed

[2020-04-18 00:33] #246 closed

[2020-04-18 14:10] #206 closed

[2020-04-18 16:14] #286 closed

[2020-04-18 18:51] #195 closed

[2020-04-18 20:16] Tjzabel opened #306 "Write unit tests for the update handler"
# Summary

Unit tests do not currently exist for the update handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing the update handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test the update handler functionality.

**Describe the solution you'd like**:

Full set of unit tests for the update handler to c

[2020-04-18 20:17] Tjzabel opened #307 "Determine best way to test telegram.go"

[2020-04-18 20:17] Tjzabel opened #308 "Write unit tests for the kick handler"
# Summary

Unit tests do not currently exist for the kick handler.

# Background

**Is your improvement related to a problem? Please describe**:

After writing the kick handler, it is unclear if we have handled all edge cases. We should have unit tests to thoroughly test the kick handler functionality.

**Describe the solution you'd like**:

Full set of unit tests for the kick handler to catch as

[2020-04-20 19:31] jwflory opened #310 "Optionally relay messages from Telegram bots to IRC"
# Summary

Add handlers and configuration option for messages by Telegram bots to send over to IRC

# Background

**Is your feature request related to a problem? Please describe**:

Messages from Telegram bots do not go to IRC.

**Describe the solution you'd like**:

If a user wants messages from Telegram bots to go to IRC, they should.

**Describe alternatives you've considered**:

We do not curr

[2020-04-20 19:41] jwflory commented on #310
Psych! So, turns out the Telegram API is [pretty clear about this](https://core.telegram.org/bots/faq#why-doesnt-my-bot-see-messages-from-other-bots):

So, this feature is not possible. Going to close this. Nothing to see here… :eyes:

[2020-04-20 19:41] #310 closed

[2020-04-20 20:00] #272 closed

[2020-04-20 20:00] #287 closed

[2020-04-23 22:18] #308 closed

[2020-04-25 19:03] #271 closed

[2020-04-25 19:10] #269 closed

[2020-04-25 19:36] Tjzabel opened #314 "Implement unit testing for irc.go"
## Summary
Before we write unit tests for the main `irc.go` file, we need to determine the method of testing that works best for the scope of this file.

Since `irc.go` makes heavy use of external libraries and functionality, we need to have a way to properly mock all of these external calls so we can efficiently test the desired functionality.

[2020-04-25 19:58] jwflory opened #315 "Deploy TeleIRC in #rit-lug-teleirc"
_Discussed in [2020-04-25 developer meeting](https://bluejeans.com/s/WoGko)._

---

Now that we have almost full feature parity with v1.x.x releases (minus #177), we can look at running a v2.0.0-pre2 release in our developer chat. I'll use this issue as an excuse to update my Ansible Role that I use, and write a migration playbook for moving from v1.x.x to v2.0.0.

[2020-04-25 19:58] jwflory opened #316 "Cut a v2.0.0-pre2 release"
_Discussed in [2020-04-25 developer meeting](https://bluejeans.com/s/WoGko)._

---

We are nearly at full feature parity with v1.x.x, minus the Imgur support. Once #305 is merged, we can cut a new release to deploy in our own infrastructure for testing ( #316 ).

[2020-04-25 22:36] jwflory commented on #316
And done:

https://github.com/RITlug/teleirc/releases/tag/v2.0.0-pre2

[2020-04-25 22:36] #316 closed

[2020-04-26 17:48] jwflory commented on #315
So I had some spare time today to work on this, and it is done! We are now running `v2.0.0-pre2` in `#rit-lug-teleirc`. Some details of note:

* jwflory/ansible-role-teleirc#1 is a first-pass at a non-container method of installing TeleIRC v2
* #317 is an update for the systemd config file based on how I deployed the bot for our chat and updated my Ansible Role

Closing this issue as done. :clappe

[2020-04-26 17:48] #315 closed

[2020-04-27 21:00] jwflory commented on #224
Based on discussion in IRC today (2020-04-27 @ 16:50 ET), this issue was bumped up as a non-release blocking feature for v2.0.0. It is targeted for v2.0.0 but will not block us cutting a release on 23 May. If it misses, it will be targeted for a v2.1 release.

[2020-04-29 22:28] jwflory opened #318 "Send bot message after a successful version upgrade"
# Summary

When the bot restarts after a version change, emit a message in that chat such as "TeleIRC updated to v2.x.x!"

# Background

**Is your improvement related to a problem? Please describe**:

Upgrading the bots requires logging into IRC. If you are going to get a definite confirmation that the bot disconnects and reconnects, you have to see it from IRC.

**Describe the solution you'd like

[2020-04-29 22:36] Tjzabel commented on #318
@jwflory I see this issue as high maintenance, low reward. As of now, we do not have any way of managing state across deployments, and therefore don't have a way to keep track of which version TeleIRC was running on its last run.

The only way I can (at the moment) see this as being possible, is if we had a function to disconnect and reconnect from TG/IRC, but that defeats the purpose of restartin

[2020-05-09 22:34] #73 closed

[2020-05-15 01:23] Tjzabel commented on #193
Complete :tada:

[2020-05-15 01:23] #193 closed

[2020-05-18 17:40] jwflory commented on #192
Upstream did not reply to my comment on the closed issue readthedocs/sphinx-autoapi#196, so I opened readthedocs/sphinx-autoapi#207 to bring it up one more time.

[2020-05-19 14:40] jwflory commented on #297
Working on this today. Also, systemd changes/improvements landed in #317.

[2020-05-22 14:31] CP1832 opened #324 "Add support for multiple IP addresses to TeleIRC"
Dear colleagues:

I am checking with you as my Teleirc is to be hosted on a shell that has several IP addresses available and I was wondering if it is possible to specify which one will be used by Teleirc. Would it be possible to add support for theis feature?

[2020-05-23 19:19] jwflory commented on #192
There was a docs issue upstream. It was fixed, but then discovered an actual bug. Upstream is responsive, it is just taking a little bit of time. This is slowly moving forward, but since it is not urgent, we can keep this on the backlog until autoapi is working right.

[2020-05-23 19:55] jwflory commented on #297
_Discussed in [2020-05-23 meeting](https://bluejeans.com/s/kF2he)._

---

## Release-blocking: _YES_

This issue is release-blocking. The fourth and final step outlined in the original comment (documenting `systemd` deployment method) is all that is left. The container instructions won't make it into this release, but we will revisit once our container is more battle-tested.

Expect a PR from me i

[2020-05-23 19:56] jwflory commented on #224
_Discussed in [2020-05-23 meeting](https://bluejeans.com/s/kF2he)._

---

## Release-blocking: _YES_

@Tjzabel has this done in #322. It is pending a toggle setting to make it configurable. @Tjzabel and @Zedjones to collaborate on getting it merged later today.

[2020-05-23 19:57] jwflory commented on #177
_Discussed in [2020-05-23 meeting](https://bluejeans.com/s/kF2he)._

---

## Release-blocking: _No_

@Tjzabel has been looking into this and has a few ideas of how to explore further. The way we retrieve images from Telegram's API is not as simple as we did it in the Node library. We need to spend more time on how to access the image upload URL for this feature.

To be revisited post-v2.0.0 releas

[2020-05-23 19:59] jwflory commented on #307
_Discussed in [2020-05-23 meeting](https://bluejeans.com/s/kF2he)._

---

## Release-blocking: _No_

@kennedy was interested in this work, and since it is not release-blocking, it is okay if this does not make it into the v2.0.0 release. We should revisit this issue in next week's meeting to figure out what next steps are here.

[2020-05-23 20:00] jwflory commented on #314
_Discussed in [2020-05-23 meeting](https://bluejeans.com/s/kF2he)._

---

## Release-blocking: _No_

#319 was a higher priority and this didn't make it into the v2.0.0 release window. We will rescope this issue and target it for a new release in next week's meeting.

[2020-05-24 04:00] jwflory commented on #224
Implemented in #322. Merged. Closing as complete. :clapper:

[2020-05-24 04:00] #224 closed

[2020-05-24 13:36] #297 closed

[2020-05-24 16:23] jwflory commented on #177
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.1.0`)

[2020-05-24 16:24] jwflory commented on #307
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.0.1`)

[2020-05-24 16:24] jwflory commented on #314
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.0.1`)

[2020-05-24 16:24] jwflory commented on #306
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.0.1`)

[2020-05-24 16:25] jwflory commented on #131
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.1.0`)

[2020-05-24 16:26] jwflory commented on #113
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.1.0`)

[2020-05-24 16:26] jwflory commented on #157
* _Metadata edited_:
    * **Milestone** (`v2.x.x` :arrow_right: `v2.0.1`)

[2020-06-05 22:22] nlMeminger opened #327 "Explore adding captcha feature to reduce spam"
# Summary

Spam sucks.  Captcha could help

# Background
Telegram has seen an increase in the number of spambots joining groups and generally just annoying people which then bleeds over to IRC.

 Adding a captcha feature to teleirc would help to alleviate this problem.  Or perhaps a spin-off project for captcha only that others could use since captcha bots are often bundled with other larger bots,

[2020-06-13 22:14] nasirhm commented on #56
I would like to work on it.

[2020-06-14 00:21] jwflory commented on #56
I think because this was associated to the `fpaste` utility, the Fedora pastebin site is now maintained by the Red Hat Community Platform Engineering (CPE) team under the `centos.org` domain:

https://paste.centos.org/api

So, we could use the CentOS pastebin API.

Awesome, thanks for your interest @nasirhm! :raised_hands: How are you thinking to approach the implementation? Any thoughts?

[2020-06-14 01:14] nasirhm commented on #56
I'm setting up the development environment first, after that would try to go through the code and on the approach to implement this is what i think:
- A user from the TG side types a message.
- If the message had `\n` character in it, we can send complete text to the paste.centos.org API and send the link instead.

It's a pretty basic abstraction of how I would approach the problem. What do you th

[2020-06-24 16:59] jwflory commented on #56
@nasirhm This is good. Initially I was thinking it would be better to count the number of characters up to the max message length permitted for IRC. I think `\n` should actually create multi-line messages, but if a particular line is longer than the permitted IRC message max, then that line should go to a pastebin service.

Does this explanation make sense? Curious what other @RITlug/teleirc-devel

[2020-06-24 17:26] kennedy commented on #56
I think the irc message size limit is around 510 characters + 2 command characters. anything bigger definite should be a pastebin.

I often have multiline replies on telegram, and doesn't seem appropriate to auto-assume a pastebin for new lines.

like this reply is 321 characters, i think is fine without a pastebin

[2020-06-24 19:49] nasirhm commented on #56
I've got the idea of what to implement, Thanks @jwflory and @kennedy

For utilizing [CentOS Paste](https://paste.centos.org/) : We would require an API_KEY to create the paste and i am unable to find a way to generate the API Key.

Any other pastebin service with a decent API would work wonders too. What do you guys think ?

[2020-06-24 21:52] jwflory commented on #56
@nasirhm Looks like there might be a single key used across the entire CentOS Pastebin Service ([see here](https://github.com/claudehohl/Stikked#installation)). I don't think we want all of our users to ask Fedora Infrastructure for the single key…

So, any other service is fine. I think it is a requirement that it be an open source pastebin tool with self-hosting options, for other downstream Tel

[2020-06-27 22:14] Tjzabel opened #328 "Zero width space (ZWSP) implementation is faulty"
# Summary

The ZWSP is supposed to add an unseen space between letters in a username to prevent users across platform from pinging themselves. The implementation TeleIRC currently has is faulty; it does not achieve these desired results.

## How to reproduce?

1. Have the same username on both IRC & Telegram
2. Send a message on one platform to another
3. See yourself pinged

## Expected behavior

[2020-06-30 01:20] Tjzabel opened #329 "Connecting to IRC over SSL (Port 6697) does not work"
# Summary

TeleIRC is not able to connect to IRC over SSL.

## How to reproduce?
Run TeleIRC over SSL for IRC.

## Expected behavior
TeleIRC is able to properly run over SSL on IRC.

## Stacktrace
[code]

# Other details
Port `7000` is another port confirmed to not work properly.

[2020-06-30 01:30] Tjzabel opened #330 "Telegram users should be able to run bot commands on IRC"
# Summary

If a bot exists on IRC that listens for generic commands (`!command`) from users, a Telegram user should also be able to run these commands across the bridge.

# Background

**Is your feature request related to a problem? Please describe**:

IRC bots are unable to see commands sent from Telegram. Currently, messages are sent over the bridge like this:
[code]
When a TG user wishes to run

[2020-06-30 18:53] Tjzabel opened #331 "NickServ authentication does not work"
# Summary

When connecting to an IRC channel with NickServ authentication, TeleIRC fails to authenticate.

# Standard debugging steps

## How to reproduce?

1. Fill in `IRC_NICKSERV_PASS` in the `.env`.
2. Attempt to run TeleIRC

## Expected behavior

TeleIRC is able to successfully connect to IRC channel and authenticate with NickServ

## Additional Details
It looks like Matterbridge had this iss

[2020-06-30 19:06] Tjzabel commented on #56
@nasirhm hello!

I reworded this issue to specify _large_ TG messages. What we did in the previous iterations of TeleIRC is made all newlines within a TG message still fall under the same IRC message, so that way a 5-line TG message still gets sent to IRC as a single message. Additionally, we had a maximum message limit, and split out large messages that went over this limit into separate messages

[2020-07-13 18:14] shahkacak369 opened #332 "Bad Request: strings must be encoded in UTF-8 (eleirc bot disconnected and not auto connect to the irc server.. )"
Jul 12 18:50:58 myunixbest systemd[1]: Started TeleIRC: Telegram + IRC bridge bot.
Jul 12 18:50:58 myunixbest teleirc[29758]: INFO: 2020/07/12 18:50:58 Current TeleIRC version: v2.0
Jul 12 18:50:58 myunixbest teleirc[29758]: INFO: 2020/07/12 18:50:58 Creating new Telegram bot client...
Jul 12 18:50:58 myunixbest teleirc[29758]: INFO: 2020/07/12 18:50:58 Creating new IRC bot client...
Jul 12 18:50:

[2020-07-16 22:44] Tjzabel commented on #332
@shahkacak369 hello, I see you didn't use our bug template, so I have a few questions:

1. Is there a specific sequence of events that lead up to this issue occuring?
2. Have you done anything to get around this issue in the short-term?
3. What IRC server are you using?
4. Does this issue only occur on IRC, or Telegram?

[2020-07-16 23:42] shahkacak369 commented on #332
hello, do you mean I do not use your bug template?

sequence of events yes as I have explained before that this incident is sudden .. teleirc bot disconnected and did not connect automatically to irc server .. and here I also include the explanation .. along with the journal on the server running teleirc boat .. did you see and read it?

Didn't I already ask you and your team .. what is the cause

[2020-07-17 01:46] Tjzabel commented on #332
@shahkacak369 We need additional information in order to pinpoint the root cause. This issue should house all information needed for anyone to come to a conclusion and try to work towards a fix. I know we talked over in `#rit-lug-teleirc`, but this issue itself needs additional information that we do not have.

Yes, this issue is sudden, but we need to figure out why. Additional information can he

[2020-07-22 20:54] nasirhm commented on #56
Hey @Tjzabel Thanks for the update, I've been a little busier in the past days and now am back. The very large messages sounds good to me.

@jwflory what do you think about over 500 chars ?

[2020-07-23 13:06] jwflory commented on #56
+1, I am on board. :smile:

[2020-07-23 13:31] nasirhm commented on #56
@jwflory /me is working on it now.

[2020-07-24 03:41] Tjzabel opened #333 "Telegram messages prepend an extra space"
# Summary

When sending a message from TG -> IRC, and extra space is prepended in TG messages.

# Standard debugging steps

## How to reproduce?

1. Run TeleIRC in `HEAD`
2. Send a message on Telegram
3. See there are two spaces at the beginning of the message text instead of 1

## Expected behavior

Only a single space is seen at the start of TG -> IRC messages.

**Screenshots**:

![image](https:

[2020-09-06 16:39] deltagnan opened #335 "My requests"
Hello,
Please may you add this new value in next version?
- IRC_REAL_NAME (real_name should be different then nickname)
- SHOW_TOPIC_MESSAGE (event - when opers sets/changes new topic)
- SHOW_CHANGE_NICK_MESSAGE (event - when users sets new nickname)

Thanks

[2020-10-02 17:22] Tjzabel commented on #329
The `ircClient` needs to have an `SSL: true` field added.

[2020-10-02 17:26] Tjzabel commented on #335
Adding this as a potential hacktoberfest ticket. Some of these bullets are simple changes.

[2020-10-03 16:42] Tjzabel commented on #332
Some more additional information:

The server and all users are using CP1251.

[2020-10-08 16:48] #328 closed

[2020-10-08 16:48] Tjzabel opened #337 "Separate repeating code blocks into their own function"
# Summary

The `handler.go` Telegram file contains many repeating code blocks while checking for ZWSP. This should get moved into its own helper function in `helpers.go`.

# Details

Example code block is as follows:
[code]

# Outcome

The above code block is moved into its own separate function to reduce repeating code.

[2020-10-09 01:37] nanikjava commented on #337
Happy to take this on. Thanks.

[2020-10-09 13:05] Amirhossein2000 commented on #337
Hi
Please review my pull request and fell free about any opinion.

[2020-10-09 13:29] jwflory commented on #337
Thanks @Amirhossein2000, another core developer will finish reviewing PR #338.

@nanikjava, there are a few other "Hacktoberfest" good first issues to work on. Try taking a look at one of those and let us know if any of them look interesting to you! :slightly_smiling_face:

[2020-10-09 22:35] Tjzabel commented on #337
Fixed via #338

[2020-10-09 22:35] #337 closed

[2020-10-10 18:04] #333 closed

[2020-10-10 19:00] #329 closed

[2020-10-10 20:37] #201 closed

[2020-10-10 20:39] jwflory commented on #201
To follow up here, @thenaterhood added this feature in #340. This is on target for an upcoming v2.1.0 release of TeleIRC.

I know this is a feature that the MusicBrainz community was looking for, so going to tag some folks here: @Freso @rdswift @Zastai @paurieraf

[2020-10-10 20:41] jwflory commented on #331
I hit this issue today while using my development environment. Freenode doesn't like my VPN and requires me to authenticate. So in order to test the bot locally, I have to turn off my VPN. Mildly annoying. It would be nice to fix this for v2.1.0.

[2020-10-10 20:43] jwflory commented on #177
* _Metadata edited_:
    * **Milestone** (`v2.1.0` :arrow_right: `v2.x.x`)

I put this issue back onto the meta release milestone. The current v2.1.0 milestone has a collection of various NickServ-related improvements and features. I think we could make v2.1.0 a thematic release around NickServ, since there is a lot of core functionality needed there to make TeleIRC useful at a basic level.

Of co

[2020-10-10 21:14] xforever1313 commented on #330
This is a tough one....

For some IRC Bots, the ! command is easy, it just outputs a canned message (e.g. !help).

However, some IRC Bots have smarts.  It actively looks at the username of who sent the message and performs actions based on who sent it.  So if using a quote bot, for example, an someone on Telegram sends !quote add something, the user that adds the quote won't be the Telegram user,

[2020-10-10 21:17] xforever1313 commented on #330
We would also need a setting that specifies which message prefixes are commands.  Some bots are "!", some are "#", others are "@".  Heck, some are all three 🤣

[2020-10-10 21:30] xforever1313 commented on #318
I actually did something similar on my [IRC Bot](https://github.com/xforever1313/Chaskis/tree/master/Chaskis/Plugins/NewVersionNotifier).

Tim is right, there needs to be some kind of persistence for this to work.  Chaskis works by:
* After joining a channel, it reads a ".lastversion.txt" file if it exists.
* If the file exists, it compares the current version of the bot with the version in the fi